section.galleries
  .wrapper
    .galleries__clearfix
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal1.jpg", alt="")
          .galleries__number 25 фото
        
        .galleries__name Производство, ретро.
        .galleries__date Июнь 2015
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal2.jpg", alt="")
          .galleries__number 43 фото
        
        .galleries__name Производство.
        .galleries__date Март 2015
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal3.jpg", alt="")
          .galleries__number 14 фото
        
        .galleries__name «Продэкспо-2015» открытие Московского Шампанского Дома.
        .galleries__date Февраль 2015
        
    .galleries__clearfix
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal4.jpg", alt="")
          .galleries__number 17 фото
        
        .galleries__name ПродЭкспо.
        .galleries__date Февраль 2014
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal5.jpg", alt="")
          .galleries__number 10 фото
        
        .galleries__name МКШВ на фуршете директоров торговых сетей.
        .galleries__date Февраль 2014
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal6.jpg", alt="")
          .galleries__number 28 фото
        
        .galleries__name МКШВ на благотворительном аукционе Владислава Третьяка.
        .galleries__date Март 2014

    .galleries__clearfix
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal7.jpg", alt="")
          .galleries__number 49 фото
        
        .galleries__name Презентация новой линейки испанских вин - Abadia de Baco.
        .galleries__date Июнь 2015
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal8.jpg", alt="")
          .galleries__number 7 фото
        
        .galleries__name Студенты из Бургенланда продегустировали российское шампанское МКШВ.
        .galleries__date Июль 2014
        
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal9.jpg", alt="")
          .galleries__number 16 фото
        
        .galleries__name Акции в магазине МКШВ в декабре
        .galleries__date Декабрь 2014
        
    .galleries__clearfix
      .galleries__gallery
        a.galleries__block(href="")
          img.galleries__img(src="img/galleries/gal10.jpg", alt="")
          .galleries__number 8 фото
        
        .galleries__name Встреча сотрудников комбината с ветеранами ВОВ.
        .galleries__date Май 2014
        
