@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
/* fonts */
@font-face {
  font-family: 'FedraSansPro-Book';
  src: url("../fonts/FedraSansPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansPro-Book.otf") format("opentype"), url("../fonts/FedraSansPro-Book.woff") format("woff"), url("../fonts/FedraSansPro-Book.ttf") format("truetype"), url("../fonts/FedraSansPro-Book.svg#FedraSansPro-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FedraSansPro-BookItalic';
  src: url("../fonts/FedraSansPro-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansPro-BookItalic.otf") format("opentype"), url("../fonts/FedraSansPro-BookItalic.woff") format("woff"), url("../fonts/FedraSansPro-BookItalic.ttf") format("truetype"), url("../fonts/FedraSansPro-BookItalic.svg#FedraSansPro-BookItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FedraSansPro-Light';
  src: url("../fonts/FedraSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansPro-Light.otf") format("opentype"), url("../fonts/FedraSansPro-Light.woff") format("woff"), url("../fonts/FedraSansPro-Light.ttf") format("truetype"), url("../fonts/FedraSansPro-Light.svg#FedraSansPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FedraSansPro-Medium';
  src: url("../fonts/FedraSansPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSansPro-Medium.otf") format("opentype"), url("../fonts/FedraSansPro-Medium.woff") format("woff"), url("../fonts/FedraSansPro-Medium.ttf") format("truetype"), url("../fonts/FedraSansPro-Medium.svg#FedraSansPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FedraSerifBPro-Medium';
  src: url("../fonts/FedraSerifBPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FedraSerifBPro-Medium.otf") format("opentype"), url("../fonts/FedraSerifBPro-Medium.woff") format("woff"), url("../fonts/FedraSerifBPro-Medium.ttf") format("truetype"), url("../fonts/FedraSerifBPro-Medium.svg#FedraSerifBPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* fonts end */
/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul, li {
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative;
  font-family: "FedraSansPro-Book";
  font-size: 14px;
  line-height: 20px;
  color: #232323; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  position: relative; }
  .main--content {
    display: table-row;
    height: 100%; }

@media screen and (max-width: 1210px) {
  .main {
    padding: 0 10px; } }

/* defaul style end  */
.wrapper {
  position: relative;
  width: 990px;
  margin: 0 auto; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.header {
  padding-top: 40px;
  padding-bottom: 84px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header__logo-combine {
    display: block;
    float: left;
    margin-top: 35px; }
  .header__logo-house {
    width: 350px;
    height: 190px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .header__block {
    float: right;
    text-align: right; }
  .header__language-list {
    margin-bottom: 45px; }
  .header__language-item {
    display: inline-block;
    vertical-align: middle; }
    .header__language-item:last-child:before {
      content: '';
      width: 1px;
      height: 25px;
      background: #dedede;
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      margin-right: 11px; }
  .header__language-link {
    font-family: "FedraSansPro-Book";
    color: #ae915f;
    text-decoration: underline;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
    .header__language-link:hover {
      text-decoration: none; }
    .header__language-link.active {
      color: #757575;
      text-decoration: none;
      margin-top: -2px; }
  .header__contact {
    display: block;
    color: #ae915f;
    margin-bottom: 10px; }
    .header__contact:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 5px; }
    .header__contact--phone {
      font-family: "FedraSansPro-Book";
      letter-spacing: -.3px; }
      .header__contact--phone:before {
        background: url(../img/phone.png) 0 0 no-repeat; }
    .header__contact--mail {
      font-family: "FedraSansPro-BookItalic";
      letter-spacing: .5px;
      text-decoration: underline; }
      .header__contact--mail:hover {
        text-decoration: none; }
      .header__contact--mail:before {
        background: url(../img/mail.png) 0 0 no-repeat; }

.footer {
  padding-bottom: 26px; }
  .footer__top {
    border-top: 1px solid #ae915f;
    padding: 26px 0 12px;
    position: relative; }
    .footer__top:before, .footer__top:after {
      content: " ";
      display: table; }
    .footer__top:after {
      clear: both; }
  .footer__left {
    float: left; }
  .footer__right {
    float: right;
    font-size: 11px;
    line-height: 14px;
    width: 235px;
    margin-right: 60px; }
  .footer__bottom {
    font-family: Arial;
    font-size: 19px;
    color: #ae915f;
    line-height: 21px;
    text-transform: uppercase; }

.search__loupe {
  background: url(../img/search.png) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  outline: 0;
  border: none; }

.search__input {
  width: 205px;
  height: 24px;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ae915f;
  display: inline-block;
  vertical-align: middle; }
  .search__input::-webkit-input-placeholder {
    color: #d9d9d9; }
  .search__input:-moz-placeholder {
    color: #d9d9d9; }
  .search__input::-moz-placeholder {
    color: #d9d9d9; }
  .search__input:-ms-input-placeholder {
    color: #d9d9d9; }

.map {
  display: block;
  font-family: "FedraSansPro-BookItalic";
  font-size: 13px;
  line-height: 16px;
  color: #ae915f;
  margin-top: 10px;
  text-decoration: underline; }
  .map:hover {
    text-decoration: none; }

.social {
  position: absolute;
  top: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .social__link {
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 30px;
    margin: 0 5px; }
    .social__link.tw {
      background: url(../img/tw.png) 0 0 no-repeat; }
    .social__link.vk {
      background: url(../img/vk.png) 0 0 no-repeat; }
    .social__link.fb {
      background: url(../img/fb.png) 0 0 no-repeat; }
    .social__link.pen {
      background: url(../img/pen.png) 0 0 no-repeat; }
    .social__link.wifi {
      background: url(../img/wifi.png) 0 0 no-repeat; }
    .social__link.maila {
      background: url(../img/maila.png) 0 0 no-repeat; }
    .social__link.ok {
      background: url(../img/ok.png) 0 0 no-repeat; }
    .social__link:hover {
      background-position: 0 -31px; }

.nav {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }
  .nav__link {
    display: inline-block;
    vertical-align: top;
    font-family: "FedraSerifBPro-Medium";
    font-size: 12px;
    line-height: 15px;
    color: #ae915f;
    text-transform: uppercase;
    margin: 0 28px; }
    .nav__link:first-child {
      margin-left: 0; }
    .nav__link:last-child {
      margin-right: 0; }
    .nav__link.active, .nav__link:hover {
      color: #000;
      position: relative; }
      .nav__link.active:after, .nav__link:hover:after {
        content: '';
        width: 40px;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

.offers .wrapper {
  border-top: 1px solid #ae915f;
  border-bottom: 1px solid #ae915f;
  padding-top: 5px;
  padding-bottom: 15px; }

.offers__title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  color: #ae915f;
  font-family: "FedraSerifBPro-Medium";
  margin-bottom: 27px; }

.offers__block {
  width: 320px;
  height: 185px;
  background: #f8f6f4;
  padding: 42px 25px 42px 20px;
  float: left;
  margin-right: 15px;
  position: relative; }
  .offers__block:last-child {
    margin-right: 0; }
  .offers__block:hover .offers__img--hover {
    display: block; }

.offers__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }
  .offers__img--hover {
    width: 320px;
    height: 185px;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

.offers__text {
  font-family: "FedraSerifBPro-Medium";
  font-size: 18px;
  line-height: 20px;
  color: #ae915f;
  max-width: 150px;
  display: inline-block;
  vertical-align: middle; }

.stamps {
  text-align: center;
  padding: 35px 0 30px;
  display: block; }
  .stamps__slider {
    width: 100%;
    max-width: 908px;
    margin: 0 auto; }
  .stamps__slide {
    display: inline-block !important;
    vertical-align: middle;
    float: none;
    margin: 0 35px; }

.slick-slide {
  outline: none; }
  .slick-slide .stamps__img--hover {
    display: none; }
  .slick-slide:hover .stamps__img {
    display: none; }
    .slick-slide:hover .stamps__img--hover {
      display: block; }

.main-slider {
  max-width: 1210px;
  margin: 0 auto;
  padding-bottom: 75px;
  position: relative;
  height: 495px;
  overflow: hidden; }
  .main-slider__slide {
    color: #fff;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; }
    .main-slider__slide:before, .main-slider__slide:after {
      content: " ";
      display: table; }
    .main-slider__slide:after {
      clear: both; }
    .main-slider__slide--1 {
      background-image: url(../img/main-slider--1.jpg); }
    .main-slider__slide--2 {
      background-image: url(../img/main-slider--2.jpg); }
    .main-slider__slide--3 {
      background-image: url(../img/main-slider--1.jpg); }
  .main-slider__bottle {
    position: absolute;
    right: 207px;
    height: 418px;
    top: 0; }
  .main-slider__left {
    width: 50%;
    height: 418px;
    padding-top: 70px;
    text-align: center; }
  .main-slider__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 50px;
    line-height: 53px;
    margin-bottom: 30px; }
  .main-slider__text {
    font-size: 22px;
    line-height: 26px;
    max-width: 420px;
    margin: 0 auto; }
    .main-slider__text::after {
      content: '';
      width: 40px;
      height: 2px;
      background: #fff;
      display: block;
      margin: 0 auto;
      margin-top: 38px;
      margin-bottom: 60px; }
  .main-slider__link {
    font-family: "FedraSansPro-BookItalic";
    font-weight: bold;
    text-decoration: underline; }
    .main-slider__link:hover {
      text-decoration: none; }
  .main-slider .slick-prev {
    top: auto;
    bottom: -54px;
    left: 112px; }
  .main-slider .slick-next {
    top: auto;
    bottom: -54px;
    right: 112px; }
  .main-slider .slick-dots {
    bottom: -47px; }
    .main-slider .slick-dots li {
      width: 10px;
      height: 10px;
      border: 1px solid #ae915f;
      border-radius: 100%;
      margin: 0 12px;
      display: inline-block;
      vertical-align: middle; }
      .main-slider .slick-dots li button:before {
        display: none; }
      .main-slider .slick-dots li.slick-active, .main-slider .slick-dots li:hover {
        border-radius: 7px;
        background: #000;
        border: 1px solid #fff; }
        .main-slider .slick-dots li.slick-active:before, .main-slider .slick-dots li:hover:before {
          content: '';
          width: 26px;
          height: 26px;
          border-radius: 100%;
          border: 1px solid #ae915f;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -13px;
          margin-top: -13px; }

@media screen and (max-width: 1215px) {
  .main-slider {
    max-width: 1024px; }
    .main-slider .slick-prev {
      left: 18px; }
    .main-slider .slick-next {
      right: 18px; }
    .main-slider__bottle {
      right: 165px;
      height: 355px; } }

.index-news .wrapper {
  border-top: 1px solid #ae915f;
  padding-top: 5px;
  padding-bottom: 15px; }

.index-news__title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 19px;
  color: #ae915f;
  font-family: "FedraSerifBPro-Medium";
  margin-bottom: 27px; }

.index-news__block {
  width: 320px;
  height: 360px;
  background: #f8f6f4;
  border: 1px solid transparent;
  padding: 45px 22px 23px 25px;
  float: left;
  margin-right: 15px;
  position: relative; }
  .index-news__block:last-child {
    margin-right: 0; }
  .index-news__block:hover {
    background: #fff;
    border: 1px solid #ae915f; }
    .index-news__block:hover .index-news__name {
      color: #000; }

.index-news__img {
  display: block; }

.index-news__date {
  font-family: "FedraSansPro-BookItalic";
  color: #ae915f;
  margin-bottom: 20px; }

.index-news__name {
  font-family: "FedraSerifBPro-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #ae915f;
  margin-bottom: 16px; }

.index-news__link {
  font-size: 12px;
  line-height: 15px;
  font-family: "FedraSansPro-BookItalic";
  color: #ae915f;
  position: absolute;
  bottom: 20px;
  text-decoration: underline; }
  .index-news__link:hover {
    text-decoration: none; }
  .index-news__link:before {
    content: '';
    width: 22px;
    height: 26px;
    background: url(../img/vine.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }

.products {
  margin-bottom: 30px; }
  .products__block {
    width: 320px;
    height: 640px;
    background: #f8f6f4;
    padding: 225px 30px 30px;
    float: left;
    margin-right: 15px;
    position: relative;
    text-align: center; }
    .products__block:nth-child(2) {
      padding: 205px 25px 30px; }
    .products__block:after {
      content: '';
      width: 330px;
      height: 650px;
      position: absolute;
      left: -5px;
      top: -5px;
      background: url(../img/products-hover.png) 0 0 no-repeat;
      display: none;
      z-index: 1; }
    .products__block:last-child {
      margin-right: 0; }
    .products__block .products__img {
      display: block;
      position: absolute;
      top: 40px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
      .products__block .products__img--hover {
        opacity: 0;
        width: 170px;
        height: 170px;
        top: 27px; }
    .products__block:hover .products__img--hover {
      opacity: 1;
      z-index: 2; }
  .products__img {
    width: 140px;
    height: 140px; }
  .products__title, .products__text, .products__button {
    position: relative;
    z-index: 2; }
  .products__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 24px;
    line-height: 30px;
    color: #ae915f;
    position: relative;
    margin-bottom: 25px; }
    .products__title:after {
      content: '';
      width: 63px;
      height: 2px;
      background: #ae915f;
      position: absolute;
      bottom: -13px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .products__text {
    font-size: 12px;
    line-height: 18px;
    color: #000; }
  .products__button {
    padding: 10px 22px;
    background: #ae915f;
    border-radius: 5px;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    bottom: 30px;
    left: 50%;
    outline: none;
    border: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.products-nav {
  border-top: 1px solid #ae915f;
  text-align: center;
  padding: 16px 0;
  font-size: 12px;
  line-height: 15px; }
  .products-nav__first-menu {
    margin-bottom: 20px; }
    .products-nav__first-menu--link {
      font-family: "FedraSerifBPro-Medium";
      color: #ae915f;
      margin: 0 14px; }
      .products-nav__first-menu--link.active, .products-nav__first-menu--link:hover {
        color: #000; }
  .products-nav__view-menu {
    margin-bottom: 15px; }
    .products-nav__view-menu--link {
      font-family: "FedraSansPro-BookItalic";
      color: #ae915f;
      margin: 0 9px; }
      .products-nav__view-menu--link:before {
        content: '';
        background: url(../img/products-view-menu.png) 0 0 no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 11px;
        height: 11px;
        margin-right: 5px; }
      .products-nav__view-menu--link:last-child:before {
        background-position: -12px 0; }
      .products-nav__view-menu--link.active:before {
        background-position: 0 -12px; }
      .products-nav__view-menu--link:last-child.active:before {
        background-position: -12px -12px; }
      .products-nav__view-menu--link.active .products-nav__span,
      .products-nav__view-menu--link:hover .products-nav__span {
        border-bottom: 1px dashed transparent; }
      .products-nav__view-menu--link.active .products-nav__span {
        color: #999; }
  .products-nav__span {
    border-bottom: 1px dashed #ae915f; }

.slick-slider {
  margin-bottom: 0; }

.slick-next, .slick-prev {
  width: 10px;
  height: 17px;
  opacity: 1;
  z-index: 10;
  display: block; }
  .slick-next:before, .slick-prev:before {
    opacity: 1;
    color: transparent;
    display: none; }

.slick-prev {
  background: url(../img/prev.jpg) 0 0 no-repeat;
  left: -41px; }
  .slick-prev:focus {
    background: url(../img/prev.jpg) 0 0 no-repeat; }
  .slick-prev:hover {
    background: url(../img/prev.jpg) 0 -17px no-repeat; }

.slick-next {
  background: url(../img/next.jpg) 0 0 no-repeat;
  right: -41px; }
  .slick-next:focus {
    background: url(../img/next.jpg) 0 0 no-repeat; }
  .slick-next:hover {
    background: url(../img/next.jpg) 0 -17px no-repeat; }

.products-tile {
  text-align: center; }
  .products-tile__blocks {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px; }
    .products-tile__blocks:before, .products-tile__blocks:after {
      content: " ";
      display: table; }
    .products-tile__blocks:after {
      clear: both; }
  .products-tile__block {
    width: 320px;
    height: 380px;
    float: left;
    margin-right: 15px;
    background: #f8f6f4;
    position: relative;
    text-align: center;
    padding: 15px 30px 0; }
    .products-tile__block:last-child {
      margin-right: 0; }
    .products-tile__block:after {
      content: '';
      width: 328px;
      height: 389px;
      position: absolute;
      left: -4px;
      top: -4px;
      background: url(../img/products-tile-hover.png) 0 0 no-repeat;
      display: none;
      z-index: 1; }
    .products-tile__block:hover {
      background: #fff; }
      .products-tile__block:hover:after {
        display: block; }
  .products-tile__img {
    display: inline-block;
    margin-bottom: 6px;
    width: 120px;
    height: 230px; }
  .products-tile__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 20px;
    color: #ae915f;
    line-height: 23px;
    margin-bottom: 10px; }
  .products-tile__text {
    font-size: 12px;
    color: #000;
    line-height: 15px;
    margin-bottom: 5px; }

.products-list__block {
  border-bottom: 1px solid #ae915f;
  padding-bottom: 30px;
  position: relative;
  padding-top: 30px;
  min-height: 600px; }
  .products-list__block:before, .products-list__block:after {
    content: " ";
    display: table; }
  .products-list__block:after {
    clear: both; }
  .products-list__block:last-child {
    border-bottom: none;
    margin-bottom: 25px; }
  .products-list__block--not-slider {
    min-height: 500px; }
    .products-list__block--not-slider .products-list__slider .products-list__slide {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      margin-top: 30px; }

.products-list__left {
  float: left;
  position: relative;
  z-index: 2;
  width: 350px; }

.products-list__center {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.products-list__title {
  font-size: 36px;
  line-height: 39px;
  color: #ae915f;
  font-family: "FedraSerifBPro-Medium"; }
  .products-list__title:after {
    content: '';
    width: 80px;
    height: 3px;
    background: #ae915f;
    display: block;
    margin-top: 11px;
    margin-bottom: 20px; }

.products-list__info {
  display: inline-block;
  vertical-align: bottom;
  width: 300px;
  line-height: 18px; }

.products-list__ib {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin-right: 30px; }
  .products-list__ib:last-child {
    margin-right: 0; }

.products-list__bold {
  font-family: "FedraSansPro-Medium";
  font-size: 14px;
  margin-bottom: 3px; }

.products-list__text {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px; }

.products-list__right {
  float: right;
  width: 336px;
  text-align: center;
  position: relative;
  z-index: 2; }
  .products-list__right-block {
    padding: 20px 15px;
    background: #f8f6f4;
    text-align: left; }

.products-list__description {
  font-family: "FedraSerifBPro-Medium";
  font-size: 18px;
  line-height: 18px;
  color: #ae915f;
  margin-bottom: 15px;
  margin-top: 55px; }
  .products-list__description-text {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 18px; }
    .products-list__description-text:last-child {
      margin-bottom: 0; }

.products-list__slider {
  width: 212px;
  margin: 0 auto;
  text-align: center; }
  .products-list__slider .products-list__slide {
    width: 197px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.products-list .bx-wrapper {
  margin-bottom: 5px; }
  .products-list .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    height: 379px !important; }

.products-list__pager {
  text-align: center; }
  .products-list__pager-link {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin: 0 15px;
    width: 80px;
    text-decoration: underline; }
    .products-list__pager-link:hover {
      text-decoration: none; }
    .products-list__pager-link:after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      margin-top: 8px;
      background: transparent;
      border: 1px solid #b1aead; }
    .products-list__pager-link:hover:after, .products-list__pager-link.active:after {
      background: #b1aead;
      border: 1px solid transparent; }
  .products-list__pager-img {
    width: 40px; }
  .products-list__pager-text {
    font-size: 12px;
    line-height: 18px; }
  .products-list__pager .js-next,
  .products-list__pager .js-prev,
  .products-list__pager .js-products-list-pager {
    display: inline-block;
    vertical-align: middle; }
  .products-list__pager .bx-prev,
  .products-list__pager .bx-next {
    width: 10px;
    height: 17px;
    font-size: 0;
    display: inline-block; }
  .products-list__pager .bx-prev {
    background: url(../img/prev.jpg) 0 0 no-repeat; }
    .products-list__pager .bx-prev:hover {
      background: url(../img/prev.jpg) 0 -17px no-repeat; }
  .products-list__pager .bx-next {
    background: url(../img/next.jpg) 0 0 no-repeat; }
    .products-list__pager .bx-next:hover {
      background: url(../img/next.jpg) 0 -17px no-repeat; }

.products-list__variations {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-family: "FedraSansPro-Medium";
  margin-bottom: 10px; }

.news .wrapper {
  border-top: 1px solid #ae915f;
  padding-top: 30px; }

.news__block {
  width: 320px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 15px;
  background: #f8f6f4;
  position: relative;
  padding: 20px; }
  .news__block:nth-child(3n) {
    margin-right: 0; }
  .news__block:after {
    content: '';
    background: url(../img/news-hover.png) 0 0 no-repeat;
    width: 328px;
    height: 328px;
    position: absolute;
    left: -4px;
    top: -4px;
    display: none;
    z-index: 1; }
  .news__block:hover {
    background: #fff; }
    .news__block:hover::after {
      display: block; }

.news__date {
  font-family: "FedraSansPro-BookItalic";
  font-size: 14px;
  line-height: 17px;
  color: #757575;
  margin-bottom: 20px; }

.news__title {
  font-family: "FedraSerifBPro-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #ae915f;
  margin-bottom: 12px; }

.news__text {
  font-size: 14px;
  line-height: 20px; }

.news__img {
  display: block; }

.news__link {
  font-family: "FedraSansPro-BookItalic";
  font-size: 12px;
  line-height: 15px;
  color: #ae915f;
  position: absolute;
  bottom: 17px;
  z-index: 2;
  text-decoration: underline; }
  .news__link:hover {
    text-decoration: none; }
  .news__link:before {
    content: '';
    width: 22px;
    height: 26px;
    background: url(../img/grapes.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

.news__pages {
  text-align: center;
  margin: 15px 0 45px; }

.news__page {
  margin: 0 10px;
  font-family: "FedraSansPro-BookItalic";
  font-size: 18px;
  line-height: 21px;
  color: #ae915f;
  border-bottom: 2px solid transparent; }
  .news__page:hover {
    color: #000;
    border-bottom: 2px solid #000; }

.news__prev, .news__next {
  width: 10px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; }
  .news__prev:hover, .news__next:hover {
    background-position: 0 -17px; }

.news__next {
  background: url(../img/next.jpg) 0 0 no-repeat; }

.news__prev {
  background: url(../img/prev.jpg) 0 0 no-repeat; }

.shop {
  margin-bottom: 30px; }
  .shop .wrapper {
    width: 1210px; }
  .shop__left {
    width: 50%;
    height: 445px;
    background: url(../img/shop.jpg) 0 0 no-repeat;
    text-align: center;
    color: #fff;
    padding: 60px 120px 0;
    float: left; }
  .shop__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 15px; }
  .shop__text:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 25px auto 20px; }
  .shop__adress {
    font-size: 20px;
    line-height: 35px; }
  .shop__break {
    margin-top: -5px;
    margin-bottom: 25px; }
  .shop__phone {
    font-size: 20px; }
  .shop__right {
    width: 50%;
    height: 445px;
    float: right; }
  .shop #map {
    width: 100%;
    height: 100%; }

@media screen and (max-width: 1215px) {
  .shop .wrapper {
    width: 990px; }
  .shop__left {
    padding: 40px 65px 0; } }

.contacts {
  padding-bottom: 50px; }
  .contacts__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    color: #ae915f;
    border-top: 1px solid #ae915f; }
  .contacts__column {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 125px; }
    .contacts__column:last-child {
      margin-right: 0; }
  .contacts__name {
    margin-top: 44px;
    font-family: "FedraSerifBPro-Medium";
    font-size: 20px;
    line-height: 23px;
    color: #ae915f; }
    .contacts__name:after {
      content: '';
      width: 45px;
      height: 2px;
      background: #ae915f;
      display: block;
      margin-top: 10px;
      margin-bottom: 23px; }
  .contacts__block {
    margin-bottom: 30px; }
  .contacts__position {
    font-family: "FedraSansPro-BookItalic";
    font-size: 16px;
    line-height: 19px;
    color: #ae915f;
    margin-bottom: 5px; }
  .contacts__phone {
    font-family: "FedraSansPro-Medium"; }
    .contacts__phone--span {
      font-family: "FedraSansPro-Book"; }

.form .wrapper {
  padding-bottom: 50px;
  border-bottom: 1px solid #ae915f; }

.form__title {
  border-top: 1px solid #ae915f;
  font-family: "FedraSerifBPro-Medium";
  font-size: 30px;
  line-height: 33px;
  color: #ae915f;
  padding-top: 28px;
  margin-bottom: 22px; }

.form__desc {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px; }

.form__input, .form__textarea {
  width: 290px;
  padding: 8px;
  border: 1px solid #999;
  outline: 0;
  border-radius: 5px;
  font-family: "FedraSansPro-BookItalic";
  margin-bottom: 20px;
  display: block; }

.form__textarea {
  width: 500px;
  height: 220px;
  resize: none; }

.form__button {
  width: 240px;
  background: #ae915f;
  border: none;
  outline: 0;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px; }

.contacts {
  padding-bottom: 50px; }
  .contacts__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    color: #ae915f;
    border-top: 1px solid #ae915f; }
  .contacts__column {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 125px; }
    .contacts__column:last-child {
      margin-right: 0; }
  .contacts__name {
    margin-top: 44px;
    font-family: "FedraSerifBPro-Medium";
    font-size: 20px;
    line-height: 23px;
    color: #ae915f; }
    .contacts__name:after {
      content: '';
      width: 45px;
      height: 2px;
      background: #ae915f;
      display: block;
      margin-top: 10px;
      margin-bottom: 23px; }
  .contacts__block {
    margin-bottom: 30px; }
  .contacts__position {
    font-family: "FedraSansPro-BookItalic";
    font-size: 16px;
    line-height: 19px;
    color: #ae915f;
    margin-bottom: 5px; }
  .contacts__phone {
    font-family: "FedraSansPro-Medium"; }
    .contacts__phone--span {
      font-family: "FedraSansPro-Book"; }

.site-map {
  text-align: center; }
  .site-map .wrapper {
    border-top: 1px solid #ae915f; }
  .site-map__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 30px;
    line-height: 33px;
    color: #ae915f;
    padding-top: 30px;
    padding-bottom: 25px; }
  .site-map__block {
    width: 310px;
    margin: 0 auto 42px; }
    .site-map__block:last-child {
      margin-bottom: 200px; }
    .site-map__block-big {
      width: 100%; }
  .site-map__name {
    font-family: "FedraSansPro-BookItalic";
    font-size: 18px;
    line-height: 21px;
    color: #ae915f;
    margin-bottom: 12px;
    display: block;
    text-decoration: underline; }
    .site-map__name:hover {
      text-decoration: none; }
  .site-map__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px; }
  .site-map__more {
    font-family: "FedraSansPro-BookItalic";
    font-size: 12px;
    line-height: 18px;
    color: #ae915f;
    text-decoration: underline; }
    .site-map__more:hover {
      text-decoration: none; }
  .site-map__link {
    font-family: "FedraSansPro-BookItalic";
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline; }
    .site-map__link:hover {
      text-decoration: none; }
    .site-map__link-bold {
      font-size: 12px;
      line-height: 18px;
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      text-decoration: underline; }
      .site-map__link-bold:hover {
        text-decoration: none; }
  .site-map__column {
    display: inline-block;
    vertical-align: top;
    width: 256px;
    text-align: center;
    margin: 0 40px; }
    .site-map__column:first-of-type {
      margin-left: 0; }
    .site-map__column:last-child {
      margin-right: 0; }

.post {
  text-align: center; }
  .post .wrapper {
    border-top: 1px solid #ae915f;
    padding: 18px 0; }
  .post__back {
    font-size: 14px;
    line-height: 17px;
    font-family: "FedraSansPro-BookItalic";
    color: #ae915f;
    text-decoration: underline; }
    .post__back:hover {
      text-decoration: none; }
  .post__columns {
    margin-top: 35px; }
    .post__columns:before, .post__columns:after {
      content: " ";
      display: table; }
    .post__columns:after {
      clear: both; }
  .post__column {
    float: left;
    text-align: left;
    margin-bottom: 15px; }
    .post__column:first-of-type {
      width: 320px;
      margin-right: 35px; }
    .post__column:last-child {
      width: 550px; }
  .post__block {
    text-align: center; }
  .post__img {
    width: 320px;
    height: 240px;
    padding: 4px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    background: url(../img/post1/border.png) 0 0 no-repeat; }
  .post__caption {
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    font-family: "FedraSansPro-BookItalic";
    padding: 0 22px;
    margin-bottom: 40px; }
  .post__title {
    font-size: 30px;
    line-height: 33px;
    color: #ae915f;
    font-family: "FedraSerifBPro-Medium"; }
    .post__title:after {
      content: '';
      width: 80px;
      height: 3px;
      background: #ae915f;
      display: block;
      margin-top: 10px;
      margin-bottom: 22px; }
  .post__text {
    font-size: 14px;
    line-height: 18px; }
    .post__text p {
      margin-top: 0;
      margin-bottom: 20px; }
      .post__text p:last-of-type {
        margin-bottom: 35px; }
    .post__text strong {
      font-family: "FedraSansPro-Medium"; }
    .post__text a {
      color: #ae915f;
      font-family: "FedraSansPro-BookItalic";
      text-decoration: underline; }
      .post__text a:hover {
        text-decoration: none; }
      .post__text a:visited {
        color: #7d756e; }
  .post__share-text {
    font-size: 12px;
    line-height: 18px;
    color: #757575;
    margin-bottom: 9px; }
  .post__share-links {
    width: 590px; }
  .post__share-link {
    font-size: 14px;
    line-height: 17px;
    margin-left: 15px;
    text-decoration: underline; }
    .post__share-link:hover {
      text-decoration: none; }
    .post__share-link:first-of-type {
      margin-left: 8px; }
    .post__share-link.vk {
      color: #526e8f; }
    .post__share-link.fb {
      color: #425497; }
    .post__share-link.od {
      color: #e27e35; }
    .post__share-link.go {
      color: #dd4241; }
    .post__share-link.tw {
      color: #40c9f1; }
    .post__share-link img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }
  .post__shared {
    font-size: 14px;
    line-height: 18px;
    color: #000; }
  .post__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .5s; }
    .post__popup.js-active {
      opacity: 1;
      visibility: visible; }
  .post__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: .9;
    background: #fff; }
  .post__slider-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #f5f5f5;
    background: #fff;
    width: 646px;
    height: 456px;
    z-index: 120; }
  .post__close {
    position: absolute;
    width: 17px;
    height: 18px;
    top: 28px;
    right: 31px;
    background: url(../img/popup-close.png) 0 0 no-repeat;
    cursor: pointer;
    z-index: 1; }
  .post__slider {
    width: 100%;
    height: 100%;
    padding: 65px 73px; }
    .post__slider .js-post-slide {
      width: 500px;
      height: 331px; }
    .post__slider .slick-next {
      right: 32px; }
    .post__slider .slick-prev {
      left: 32px; }
    .post__slider .slick-dots {
      bottom: 22px;
      width: 500px; }
      .post__slider .slick-dots li {
        width: 9px;
        height: 9px;
        border: 1px solid #b4b4b4;
        border-radius: 10px;
        margin: 0 4px; }
        .post__slider .slick-dots li.slick-active, .post__slider .slick-dots li:hover {
          border: 1px solid #ae915f;
          background: #ae915f; }
        .post__slider .slick-dots li button {
          width: 100%;
          height: 100%; }
          .post__slider .slick-dots li button:before {
            display: none; }

.post-news {
  text-align: center; }
  .post-news .wrapper {
    border-top: 1px solid #ae915f;
    padding-top: 5px;
    padding-bottom: 30px; }
  .post-news__title {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 19px;
    color: #ae915f;
    font-family: "FedraSerifBPro-Medium";
    margin-bottom: 27px;
    text-align: left; }
  .post-news__news:before, .post-news__news:after {
    content: " ";
    display: table; }
  .post-news__news:after {
    clear: both; }
  .post-news__block {
    width: 320px;
    height: 320px;
    background: #f8f6f4;
    border: 1px solid transparent;
    padding: 25px 22px 23px 25px;
    float: left;
    margin-right: 15px;
    position: relative;
    text-align: left; }
    .post-news__block:last-child {
      margin-right: 0; }
    .post-news__block:hover {
      background: #fff;
      border: 1px solid #ae915f; }
      .post-news__block:hover .post-news__name {
        color: #000; }
  .post-news__date {
    font-family: "FedraSansPro-BookItalic";
    color: #757575;
    margin-bottom: 30px; }
  .post-news__name {
    font-family: "FedraSerifBPro-Medium";
    font-size: 20px;
    line-height: 24px;
    color: #ae915f;
    margin-bottom: 16px; }
  .post-news__link {
    font-size: 12px;
    line-height: 15px;
    font-family: "FedraSansPro-BookItalic";
    color: #ae915f;
    position: absolute;
    bottom: 20px;
    text-decoration: underline; }
    .post-news__link:hover {
      text-decoration: none; }
    .post-news__link:before {
      content: '';
      width: 22px;
      height: 26px;
      background: url(../img/vine.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px; }
  .post-news__all-news {
    font-family: "FedraSansPro-BookItalic";
    font-size: 14px;
    line-height: 17px;
    color: #ae915f;
    display: inline-block;
    margin-top: 30px;
    text-decoration: underline; }
    .post-news__all-news:hover {
      text-decoration: none; }

.distribution-map {
  text-align: center; }
  .distribution-map .wrapper {
    border-top: 1px solid #ae915f;
    padding-top: 33px; }
  .distribution-map__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 30px;
    line-height: 33px;
    color: #ae915f;
    margin-bottom: 20px; }
  .distribution-map__russia {
    width: 980px;
    height: 530px;
    background: url(../img/map/map.jpg) 0 0 no-repeat; }
  .distribution-map__block {
    width: 410px;
    background: rgba(245, 243, 241, 0.73);
    text-align: left;
    position: absolute;
    left: 485px;
    top: 205px;
    border: 1px solid #e8e8e8;
    padding: 35px 0 40px 35px;
    display: none; }
    .distribution-map__block:after {
      content: '';
      display: block;
      width: 46px;
      height: 41px;
      position: absolute;
      right: 30px;
      bottom: 20px;
      background: url(../img/map/logo-map.png) 0 0 no-repeat; }
    .distribution-map__block.active {
      display: block; }
  .distribution-map__name {
    font-size: 16px;
    line-height: 19px;
    color: #ae915f;
    font-family: "FedraSerifBPro-Medium";
    width: 215px;
    text-transform: uppercase; }
    .distribution-map__name:after {
      content: '';
      width: 32px;
      height: 2px;
      background: #ae915f;
      display: block;
      margin-top: 8px;
      margin-bottom: 18px; }
  .distribution-map__manager {
    font-family: "FedraSansPro-Medium";
    font-size: 14px;
    line-height: 18px; }
  .distribution-map__position {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
    width: 170px; }
  .distribution-map__phone {
    font-size: 14px;
    line-height: 18px; }
  .distribution-map__link {
    font-size: 14px;
    line-height: 18px;
    color: #ae915f;
    font-family: "FedraSansPro-BookItalic";
    text-decoration: underline; }
    .distribution-map__link:hover {
      text-decoration: none; }

.people {
  margin-top: 55px;
  margin-bottom: 40px; }
  .people:before, .people:after {
    content: " ";
    display: table; }
  .people:after {
    clear: both; }
  .people__column {
    float: left;
    width: 185px;
    margin-right: 140px; }
    .people__column:first-child {
      margin-left: 40px; }
    .people__column:last-child {
      margin-right: 0; }
  .people__position {
    font-size: 16px;
    line-height: 19px;
    color: #ae915f;
    font-family: "FedraSansPro-BookItalic"; }
  .people__name {
    color: #232323; }
  .people__number {
    font-family: "FedraSansPro-Medium";
    margin-bottom: 30px; }

.galleries .wrapper {
  border-top: 1px solid #ae915f;
  padding-top: 40px;
  padding-bottom: 50px; }

.galleries__clearfix:before, .galleries__clearfix:after {
  content: " ";
  display: table; }

.galleries__clearfix:after {
  clear: both; }

.galleries__gallery {
  float: left;
  width: 317px;
  text-align: center;
  margin-right: 19px;
  margin-bottom: 30px; }
  .galleries__gallery:last-child {
    margin-right: 0; }

.galleries__block {
  width: 100%;
  height: 316px;
  border: 1px solid #e4e1df;
  padding-top: 8px;
  display: block;
  margin-bottom: 25px; }
  .galleries__block:hover {
    background: #f8f6f4; }

.galleries__img {
  width: 300px;
  height: 255px;
  display: block;
  margin-left: 9px;
  margin-bottom: 13px;
  border: 4px solid transparent; }

.galleries__number {
  font-size: 14px;
  line-height: 18px;
  color: #ae915f;
  font-family: "FedraSansPro-BookItalic";
  display: inline-block;
  text-decoration: underline; }
  .galleries__number:hover {
    text-decoration: none; }

.galleries__name {
  font-size: 20px;
  line-height: 23px;
  color: #ae915f;
  font-family: "FedraSerifBPro-Medium";
  margin-bottom: 13px;
  padding: 0 25px; }

.galleries__date {
  font-size: 14px;
  color: #757575; }

.search-page .wrapper {
  border-top: 1px solid #ae915f;
  padding-top: 25px; }

.search-page__search {
  position: relative; }

.search-page__input {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  padding: 8px 12px;
  border: 1px solid #ae915f;
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 8px; }

.search-page__submit {
  width: 16px;
  height: 16px;
  background: url(../img/search-page-submit.jpg) 0 0 no-repeat;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 2;
  outline: 0;
  border: none;
  cursor: pointer; }

.search-page__number {
  font-size: 14px;
  line-height: 18px;
  padding-left: 14px;
  margin-bottom: 6px; }

.search-page__sort {
  font-size: 14px;
  line-height: 18px;
  color: #757575;
  font-family: "FedraSansPro-BookItalic";
  padding-left: 14px; }
  .search-page__sort--link {
    color: #ae915f;
    text-decoration: underline; }
    .search-page__sort--link:hover {
      text-decoration: none; }

.search-page__result {
  margin-bottom: 44px; }
  .search-page__result:first-child {
    margin-top: 15px; }
  .search-page__result:last-child {
    margin-bottom: 100px; }

.search-page__name {
  font-family: "FedraSerifBPro-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #ae915f;
  margin-bottom: 5px; }
  .search-page__name:hover {
    text-decoration: underline; }

.search-page__change {
  font-size: 12px;
  line-height: 15px;
  color: #757575;
  margin-bottom: 9px; }

.search-page__text {
  font-size: 14px;
  line-height: 18px;
  max-width: 600px; }

.search-page__pages {
  text-align: center;
  margin: 15px 0 45px; }

.search-page__page {
  margin: 0 10px;
  font-family: "FedraSansPro-BookItalic";
  font-size: 18px;
  line-height: 21px;
  color: #ae915f;
  border-bottom: 2px solid transparent; }
  .search-page__page:hover {
    color: #000;
    border-bottom: 2px solid #000; }

.search-page__prev, .search-page__next {
  width: 10px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; }
  .search-page__prev:hover, .search-page__next:hover {
    background-position: 0 -17px; }

.search-page__next {
  background: url(../img/next.jpg) 0 0 no-repeat; }

.search-page__prev {
  background: url(../img/prev.jpg) 0 0 no-repeat; }

.not-found {
  text-align: center; }
  .not-found .wrapper {
    border-top: 1px solid #ae915f;
    padding-top: 35px; }
  .not-found__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 30px;
    line-height: 24px;
    color: #ae915f;
    margin-bottom: 20px; }
  .not-found__text {
    font-size: 12px;
    line-height: 18px;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 10px; }
  .not-found__form {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 640px; }
  .not-found__search {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    border: 1px solid #ae915f;
    padding: 6px 12px;
    margin-bottom: 43px; }
  .not-found__submit {
    border: none;
    outline: 0;
    background: url(../img/search-page-submit.jpg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 8px; }
  .not-found + .site-map .wrapper {
    border-color: #ebebeb; }
  .not-found + .site-map .site-map__title {
    font-size: 20px; }
  .not-found + .site-map .site-map__block:last-child {
    margin-bottom: 70px; }

.about-video .wrapper {
  padding-top: 50px;
  border-top: 1px solid #ae915f; }

.about-video__block {
  width: 640px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 50px; }

.about__title {
  font-family: "FedraSerifBPro-Medium";
  font-size: 36px;
  line-height: 39px;
  color: #ae915f;
  margin-bottom: 35px; }

.about__block:before, .about__block:after {
  content: " ";
  display: table; }

.about__block:after {
  clear: both; }

.about p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px; }
  .about p a {
    color: #ae915f;
    font-family: "FedraSansPro-BookItalic";
    text-decoration: underline; }
    .about p a:hover {
      text-decoration: none; }
    .about p a:visited {
      color: #7d756e; }

.about ul, .about li {
  list-style: none; }

.about ul {
  margin-bottom: 15px; }

.about li:before {
  content: '';
  background: url(../img/bulet.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 10px; }

.about img {
  float: left;
  width: 308px;
  height: 208px;
  margin-right: 17px;
  margin-bottom: 35px;
  padding: 4px;
  background: url(../img/about/border.png) 0 0 no-repeat;
  clear: both;
  display: block; }

.about__images {
  clear: both;
  margin-top: 25px; }
  .about__images:before, .about__images:after {
    content: " ";
    display: table; }
  .about__images:after {
    clear: both; }
  .about__images img {
    margin-bottom: 25px;
    clear: none; }

.about img.about__medal {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 19px;
  margin-bottom: 45px;
  background: none; }
  .about img.about__medal:last-child {
    margin-right: 0; }

.about__links {
  margin-bottom: 35px;
  clear: both; }

.about__shared {
  margin-right: 10px; }

.about__link {
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  text-decoration: underline; }
  .about__link:hover {
    text-decoration: none; }
  .about__link:first-of-type {
    margin-left: 8px; }
  .about__link.vk {
    color: #526e8f; }
  .about__link.fb {
    color: #425497; }
  .about__link.od {
    color: #e27e35; }
  .about__link.go {
    color: #dd4241; }
  .about__link.tw {
    color: #40c9f1; }
  .about__link img {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    background: none;
    float: none;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-left: -4px;
    text-decoration: none; }

.gallery .wrapper {
  border-top: 1px solid #ae915f;
  padding-top: 20px;
  text-align: center; }

.gallery__back {
  font-family: "FedraSansPro-BookItalic";
  color: #ae915f;
  text-decoration: underline; }
  .gallery__back:hover {
    text-decoration: none; }

.gallery__title {
  font-family: "FedraSerifBPro-Medium";
  color: #ae915f;
  font-size: 30px;
  line-height: 33px;
  margin-top: 50px;
  margin-bottom: 30px; }

.gallery__main-slider {
  width: 590px;
  height: 333px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px; }
  .gallery__main-slider .slick-slide {
    min-height: 333px; }
  .gallery__main-slider .slick-next {
    right: 0; }
  .gallery__main-slider .slick-prev {
    left: 0; }

.gallery__main-slide {
  width: 500px;
  height: 100%;
  margin: 0 45px;
  position: relative; }

.gallery__main-img {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.gallery__min-slider {
  display: inline-block;
  margin-bottom: 80px;
  width: 680px; }
  .gallery__min-slider:before, .gallery__min-slider:after {
    content: " ";
    display: table; }
  .gallery__min-slider:after {
    clear: both; }

.gallery__min-slide {
  width: 92px;
  height: 62px;
  border: 1px solid transparent;
  margin-right: 5px;
  float: left;
  cursor: pointer; }
  .gallery__min-slide.slick-current, .gallery__min-slide:hover {
    opacity: .7;
    border: 1px solid #ae915f; }

.enter {
  background: url(../img/enter.jpg) center top no-repeat;
  width: 100%;
  height: 100%;
  min-height: 573px;
  min-width: 799px;
  position: relative; }
  .enter__block {
    width: 799px;
    height: 573px;
    background: rgba(255, 255, 255, 0.8) url(../img/enter-border.png) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 62px; }
  .enter__logo {
    display: inline-block;
    width: 237px;
    height: 126px;
    margin-bottom: 30px; }
  .enter__text {
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    background: url(../img/18.png) 0 0 no-repeat;
    text-align: left;
    width: 650px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 24px;
    padding-bottom: 53px; }
  .enter__birthdate {
    margin-bottom: 8px; }
  .enter__select--months + .jq-selectbox__select {
    width: 100px; }
    .enter__select--months + .jq-selectbox__select .jq-selectbox__select-text {
      width: 70px !important; }
  .enter__select--days + .jq-selectbox__select {
    width: 80px; }
    .enter__select--days + .jq-selectbox__select .jq-selectbox__select-text {
      width: 40px !important; }
  .enter__select--years + .jq-selectbox__select {
    width: 70px; }
  .enter__italic {
    margin: 0 auto;
    width: 200px;
    color: #757575;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 33px; }
  .enter__button {
    outline: 0;
    border: none;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background: #ae915f;
    border-radius: 5px;
    width: 210px;
    height: 37px; }
    .enter__button:hover {
      background: #796541; }
  .enter .jq-selectbox {
    margin-right: 5px;
    margin-bottom: 10px; }
    .enter .jq-selectbox.focused, .enter .jq-selectbox.opened {
      border: none;
      box-shadow: none; }
    .enter .jq-selectbox li {
      text-align: left; }
      .enter .jq-selectbox li:hover {
        background: #ae915f; }
    .enter .jq-selectbox .jq-selectbox__select {
      background: #fff;
      border-radius: 0;
      border: 1px solid #d6d6d6;
      box-shadow: none;
      height: 28px;
      font-size: 14px;
      line-height: 25px;
      color: #000;
      padding-right: 32px;
      padding-left: 6px; }
    .enter .jq-selectbox .jq-selectbox__dropdown {
      border-radius: 0;
      border: 1px solid #d6d6d6;
      box-shadow: none; }
    .enter .jq-selectbox .jq-selectbox__trigger {
      border: none;
      width: 25px; }
    .enter .jq-selectbox .jq-selectbox__trigger-arrow {
      border: none;
      background: url(../img/trigger.jpg) 0 0 no-repeat;
      width: 8px;
      height: 4px;
      top: 11px; }

.enter__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); }
  .enter__popup-block {
    width: 355px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 48px 70px 44px;
    text-align: center; }
  .enter__popup-text {
    margin-bottom: 25px; }
  .enter__popup-button {
    width: 100%;
    border: none;
    outline: 0;
    background: #ae915f;
    color: #fff;
    line-height: 30px;
    height: 32px;
    border-radius: 3px; }
    .enter__popup-button:hover {
      background: #7f6a46; }

.partners {
  text-align: center; }
  .partners .wrapper {
    padding-top: 35px;
    border-top: 1px solid #ae915f; }
  .partners__title {
    font-family: "FedraSerifBPro-Medium";
    font-size: 30px;
    line-height: 33px;
    color: #ae915f;
    margin-bottom: 60px; }
  .partners__blocks:before, .partners__blocks:after {
    content: " ";
    display: table; }
  .partners__blocks:after {
    clear: both; }
  .partners__block {
    float: left;
    margin-right: 77px;
    width: 258px;
    margin-bottom: 75px; }
    .partners__block:first-child {
      margin-left: 32px; }
    .partners__block:last-child {
      margin-right: 0; }
  .partners__img {
    width: 258px;
    height: 133px;
    background: url(../img/partners/border.png) 0 0 no-repeat;
    padding-top: 4px;
    outline: 0;
    border: none;
    cursor: default; }
  .partners__name {
    margin: 13px 0 8px;
    font-family: "FedraSerifBPro-Medium";
    font-size: 18px;
    line-height: 18px;
    color: #ae915f;
    padding: 0 15px; }
  .partners__site {
    font-family: "FedraSansPro-BookItalic";
    font-size: 14px;
    line-height: 18px;
    color: #ae915f;
    text-decoration: underline; }
    .partners__site:hover {
      text-decoration: none; }
