section.news
  .wrapper
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Победа в конкурсе!
      .news__text На прошедшем дегустационном конкурсе в Москве, проводимом в рамках Международной Выставке Продэкспо-2016 высокими наградами была отмечена наша продукц...
      .news__link Подробнее
    
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Наш скромный вклад в повышение обороноспособности
      .news__text МКШВ успешно развивает винодельческий туризм.
      .news__link Подробнее
      
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Заслуженная победа!
      .news__text Заслуженная победа! На прошедшем в Абрау-Дюрсо дегустационном конкурсе «Союза виноделов и виноградарей России» – «Кубок СВВР  – 2015», проводимого в рамках  Всероссийского Саммита виноделов...
      .news__link Подробнее
      
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title «AlbertD» — для деловых встреч и официальных приёмов!
      img.news__img(src="img/news-img.jpg", alt="")
      .news__link Подробнее
    
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Новинка
      img.news__img(src="img/news-img.jpg", alt="")
      .news__link Подробнее
      
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Albert D - искушение гурманов!
      .news__text В середине августа, в нашем ассортименте появилось Великолепное шампанское, с французскими корнями и русской душой - Шампанское Albert D!
      .news__link Подробнее
        
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Победа в конкурсе!
      .news__text На прошедшем дегустационном конкурсе в Москве, проводимом в рамках Международной Выставке Продэкспо-2016 высокими наградами была отмечена наша продукц...
      .news__link Подробнее
    
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Наш скромный вклад в повышение обороноспособности
      .news__text МКШВ успешно развивает винодельческий туризм.
      .news__link Подробнее
      
    a.news__block(href="")
      .news__date 20 февраля 2016
      .news__title Заслуженная победа!
      .news__text Заслуженная победа! На прошедшем в Абрау-Дюрсо дегустационном конкурсе «Союза виноделов и виноградарей России» – «Кубок СВВР  – 2015», проводимого в рамках  Всероссийского Саммита виноделов...
      .news__link Подробнее
      
    .news__pages
      a.news__prev(href="")
      a.news__page(href="") 1
      a.news__page(href="") 2
      a.news__page(href="") 3
      a.news__next(href="")
