section.distribution-map
  .wrapper
    .distribution-map__block.distribution-map__dvfo
      .distribution-map__name Дальневосточный ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Гордеев Александр
      .distribution-map__position Региональный менеджер
      .distribution-map__phone + 7 (921) 951-28-04
      a.distribution-map__link(href="") gordeev@mcw.ru
      
    .distribution-map__block.distribution-map__sfo
      .distribution-map__name Сибирский ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Овчинников Всеволод
      .distribution-map__position Дивизиональный менеджер
      .distribution-map__phone + 7 (964) 643-22-14
      a.distribution-map__link(href="") ovo74@mcw.ru
      
    .distribution-map__block.distribution-map__ufo
      .distribution-map__name Уральский ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Овчинников Всеволод
      .distribution-map__position Дивизиональный менеджер
      .distribution-map__phone + 7 (964) 643-22-14
      a.distribution-map__link(href="") ovo74@mcw.ru
      
    .distribution-map__block.distribution-map__szfo
      .distribution-map__name СЕВЕРО-ЗАПАДНЫЙ ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Тарков Роман
      .distribution-map__position Региональный менеджер
      .distribution-map__phone + 7 (981) 770-05-55
      a.distribution-map__link(href="") tarkov@mcw.ru
      
    .distribution-map__block.distribution-map__pfo
      .distribution-map__name Приволжский ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Акимова Елена Владиславовна
      .distribution-map__position Начальник отдела оптовых и региональных продаж
      .distribution-map__phone + 7 (495) 446-47-87
      a.distribution-map__link(href="") akimova@mcw.ru 
      
    .distribution-map__block.distribution-map__jfo.active
      .distribution-map__name Центральный ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Морозов Игорь
      .distribution-map__position Региональный менеджер
      .distribution-map__phone + 7 (916) 678-98-98
      a.distribution-map__link(href="") morozov@mcw.ru
      
    .distribution-map__block.distribution-map__youfo
      .distribution-map__name Южный ФЕДЕРАЛЬНЫЙ ОКРУГ
      .distribution-map__manager Акимова Елена Владиславовна
      .distribution-map__position Начальник отдела оптовых и региональных продаж
      .distribution-map__phone + 7 (495) 446-47-87
      a.distribution-map__link(href="") akimova@mcw.ru
          
    .distribution-map__title Федеральная дистрибуция
    .distribution-map__russia
