section.people
  .wrapper
    .people__column
      .people__position Коммерческий директор
      .people__name Овчинников Всеволод 
      .people__number +7 (495) 727-28-81 
      
      .people__position Менеджер по экспорту и работе с контрактным розливом:
      .people__name Назин Иван
      .people__number +7 (495) 727-21-96
      
      .people__position Менеджер по ключевым клиентам
      .people__name Животнёв Роман моб.
      .people__number +7(963) 715-78-78
    
    .people__column
      .people__position Начальник отдела региональных продаж Москва и МО, ЮФО
      .people__name Акимова Елена
      .people__number +7(495) 446-47-87
      
      .people__position Менеджер регионального отдела ПФО и ЦФО
      .people__name Ларюшин Сергей Владиславович 
      .people__number +7 (965) 269-02-59
      
      .people__position Региональный менеджер регионы  (Сибирский ФО и Уральский ФО)
      .people__name Вячеслав Смирнов 
      .people__number +7 (903) 517-35-35
    
    .people__column
      .people__position Региональный менеджер ЦФО:
      .people__name Морозов Игорь 
      .people__number +7 (495) 727-21-98 
      
      .people__position Региональный менеджер СЗФО-СпБ:
      .people__name Тарков Роман
      .people__number +7 (981) 770-05-55
