.slick-slider {
  margin-bottom: 0;
}
.slick-next, .slick-prev {
  width: 10px;
  height: 17px;
  opacity: 1;
  z-index: 10;
  display: block;

  &:before {
    opacity: 1;
    color: transparent;
    display: none;
  }
}

.slick-prev {
  background: url(../img/prev.jpg) 0 0 no-repeat;
  left: -41px;

  &:focus {
    background: url(../img/prev.jpg) 0 0 no-repeat;
  }

  &:hover,
   {
    background: url(../img/prev.jpg) 0 -17px no-repeat;
  }
}
.slick-next {
  background: url(../img/next.jpg) 0 0 no-repeat;
  right: -41px;

  &:focus {
    background: url(../img/next.jpg) 0 0 no-repeat;
  }

  &:hover,
   {
    background: url(../img/next.jpg) 0 -17px no-repeat;
  }

}
