section.products
  .wrapper  
    a.products__block.products__block1(href="")
      .products__img.products__img1
      .products__title Тихие вина
      .products__text.
        ОАО &laquo;МКШВ&raquo; предлагает потребителю обширный ассортимент качественных тихих вин&nbsp;&mdash; это как линейка сортовых испанских вин BACO, произведенных из&nbsp;виноматериалов защищенного географического указания (Castilla-La Mancha), так и&nbsp;столовые вина на&nbsp;любой вкус&nbsp;&mdash; Bueno Fortuna
        
      button.products__button смотреть ассортимент
      
    a.products__block.products__block2(href="products-tile.html")
      .products__img.products__img2
      .products__title Шампанские и&nbsp;игристые вина
      .products__text.
        Производство шампанских и&nbsp;игристых вин осуществляется всеми известными промышленными способами, резервуарным периодическим и&nbsp;непрерывным методом шампанизации и&nbsp;заканчивая классическим ручным способом, когда вторичное брожение происходит в&nbsp;бутылке. Коллекция шампанского включает в&nbsp;себя широкую гамму вин, рассчитанных на&nbsp;все ценовые сегменты, способных удовлетворить самые изысканные вкусы потребителей своими разнообразными органолептическими свойствами. Элегантное и&nbsp;изысканное шампанское всегда создаст Вам настроение.
        
      button.products__button смотреть ассортимент

    a.products__block.products__block1(href="")
      .products__img.products__img3
      .products__title Коньяки
      .products__text.
        Купажи коньяков создаются виртуозными мастерами южного филиала ОАО &laquo;МКШВ&raquo;&nbsp;&mdash; &laquo;КАВИГРИС&raquo; , который расположен у&nbsp;подножия горы Бештау в&nbsp;Ставропольском крае. Макроклимат данного региона позволяет сформировать свои особенности в&nbsp;производстве коньяков. Коньячные спирты выдерживаются в&nbsp;дубовых бочках от&nbsp;трех до&nbsp;пяти лет, за&nbsp;счет чего коньяки получают свой особенный округлый и&nbsp;мягкий вкус.
        
      button.products__button смотреть ассортимент
