section.gallery
  .wrapper
    a.gallery__back(href="") вернуться к списку альбомов
    .gallery__title Производство
    .gallery__main-slider.js-gallery-main-slider
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__main-slide(src="img/gallery/slide1.jpg", alt="")
      
    .gallery__min-slider.js-gallery-min-slider
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide2.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide3.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide4.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide5.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide6.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide7.jpg", alt="")
      img.gallery__min-slide(src="img/gallery/slide1.jpg", alt="")
