.products-list {
  &__block {
    @include clearfix;
    border-bottom: 1px solid $yellowColor;
    padding-bottom: 30px;
    position: relative;
    padding-top: 30px;
    min-height: 600px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 25px;
    }

    &--not-slider {
      min-height: 500px;

      .products-list__slider {
        .products-list__slide {
          transform: translateX(0);
          margin-top: 30px;
        }
      }
    }
  }
  &__left {
    float: left;
    position: relative;
    z-index: 2;
    width: 350px;
  }
  &__center {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    font-size: 36px;
    line-height: 39px;
    color: $yellowColor;
    font-family: $fserm;

    &:after {
      content: '';
      width: 80px;
      height: 3px;
      background: $yellowColor;
      display: block;
      margin-top: 11px;
      margin-bottom: 20px;
    }
  }
  &__info {
    display: inline-block;
    vertical-align: bottom;
    width: 300px;
    line-height: 18px;
  }

  &__ib {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__bold {
    font-family: $fsm;
    font-size: 14px;
    margin-bottom: 3px;
  }
  &__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
  }

  &__right {
    float: right;
    width: 336px;
    text-align: center;
    position: relative;
    z-index: 2;
    &-block {
      padding: 20px 15px;
      background: #f8f6f4;
      text-align: left;
    }
  }
  &__description {
    font-family: $fserm;
    font-size: 18px;
    line-height: 18px;
    color: $yellowColor;
    margin-bottom: 15px;
    margin-top: 55px;

    &-text {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__slider {
    width: 212px;
    margin: 0 auto;
    text-align: center;

    .products-list__slide {
      width: 197px ;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .bx-wrapper {
    margin-bottom: 5px;

    .bx-viewport {
      border: none;
      box-shadow: none;
      height: 379px !important;
    }
  }

  &__pager {
    text-align: center;

    &-link {
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      margin: 0 15px;
      width: 80px;
      @include htd;

      &:after {
        content: '';
        width: 10px;
        height: 10px;

        border-radius: 100%;

        display: block;
        margin: 0 auto;
        margin-top: 8px;

        background: transparent;
        border: 1px solid #b1aead;
      }

      &:hover, &.active {
        &:after {
          background: #b1aead;
          border: 1px solid transparent;
        }
      }
    }
    &-img {
      width: 40px;
    }
    &-text {
      font-size: 12px;
      line-height: 18px;
    }

    .js-next,
    .js-prev,
    .js-products-list-pager {
      display: inline-block;
      vertical-align: middle;
    }
    .bx-prev,
    .bx-next {
      width: 10px;
      height: 17px;
      font-size: 0;
      display: inline-block;
    }
    .bx-prev {
      background: url(../img/prev.jpg) 0 0 no-repeat;
      &:hover {
        background: url(../img/prev.jpg) 0 -17px no-repeat;
      }
    }
    .bx-next {
      background: url(../img/next.jpg) 0 0 no-repeat;

      &:hover {
        background: url(../img/next.jpg) 0 -17px no-repeat;
      }
    }
  }

  &__variations {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-family: $fsm;
    margin-bottom: 10px;
  }
}

// .bx-wrapper {
//   .bx-controls-direction {
//     width: 240px;
//     left: 50%;
//     transform: translateX(-50%);
//   }
// }
