section.partners
  .wrapper
    .partners__title Наши партнеры
    .partners__blocks
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner1.jpg", alt="")
        .partners__name Ассоциация производителей игристых вин
        a.partners__site(href="") sparkling-union.ru
      
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner2.jpg", alt="")
        .partners__name Зельгрос ООО
        a.partners__site(href="") www.selgros.ru
        
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner3.jpg", alt="")
        .partners__name Ашан ООО
        a.partners__site(href="") www.auchan.ru
      
    .partners__blocks
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner4.jpg", alt="")
        .partners__name Перекресток тд ЗАО
        a.partners__site(href="") www.perekrestok.ru
      
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner5.jpg", alt="")
        .partners__name Глобал-маркет ООО
        a.partners__site(href="") www.globmark.ru
        
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner6.jpg", alt="")
        .partners__name Атак ООО
        a.partners__site(href="") www.ataksupermarket.ru
    
    .partners__blocks
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner7.jpg", alt="")
        .partners__name Арома трейд ЗАО
        a.partners__site(href="") www.aroma.ru
      
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner8.jpg", alt="")
        .partners__name О'кей ООО
        a.partners__site(href="") www.okmarket.ru
        
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner9.jpg", alt="")
        .partners__name Гиперглобус ООО
        a.partners__site(href="") www.globus.ru
    
    .partners__blocks
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner10.jpg", alt="")
        .partners__name Метро кэш энд керри
        a.partners__site(href="") www.metro-cc.ru
      
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner11.jpg", alt="")
        .partners__name Радеж ООО
        a.partners__site(href="") www.radezh.ru
        
      .partners__block
        .partners__img
          img.partners__logo(src="img/partners/partner12.jpg", alt="")
        .partners__name Лента ООО
        a.partners__site(href="") www.lenta.com
