/* --------- mixins --------- */

@mixin inlineblock {
	display: inline-block;
	vertical-align: top;
}
@mixin middle {
	display: inline-block;
	vertical-align: middle;
}

@mixin clearfix {
	&:before, &:after {content: " "; display: table;}
	&:after {clear: both;}
}
@mixin htd {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}
