/* --------- variables --------- */

$defaultFontFamily: 'FedraSansPro-Book';
$defaultFontSize: 14px;
$defaultLineHeight: 20px;
$defaultColor: #232323;

$fsbk: 'FedraSansPro-Book';
$fsl: 'FedraSansPro-Light';
$fsbki: 'FedraSansPro-BookItalic';
$fsm: 'FedraSansPro-Medium';
$fserm:  'FedraSerifBPro-Medium';

$yellowColor: #ae915f;
/* colors */
