.main-slider {
  max-width: 1210px;
  margin: 0 auto;
  padding-bottom: 75px;
  position: relative;
  height: 495px;
  overflow: hidden;

  // &--wrapper {
  //   height: 418px;
  //   overflow: hidden;
  // }

  &__slide {
    @include clearfix;
    color: #fff;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;

    &--1 {
      background-image: url(../img/main-slider--1.jpg);
    }
    &--2 {
      background-image: url(../img/main-slider--2.jpg);
    }
    &--3 {
      background-image: url(../img/main-slider--1.jpg);
    }
  }

  &__bottle {
    position: absolute;
    right: 207px;
    top: 0;
  }

  &__left {
    width: 50%;
    height: 418px;
    padding-top: 70px;
    text-align: center;
  }
  &__title {
    font-family: $fserm;
    font-size: 50px;
    line-height: 53px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 22px;
    line-height: 26px;
    max-width: 420px;
    margin: 0 auto;

    &::after {
      content: '';
      width: 40px;
      height: 2px;
      background: #fff;
      display: block;
      margin: 0 auto;
      margin-top: 38px;
      margin-bottom: 60px;
    }
  }
  &__link {
    font-family: $fsbki;
    font-weight: bold;
    @include htd;
  }

  .slick-prev {
    top: auto;
    bottom: -54px;
    left: 112px;
  }
  .slick-next {
    top: auto;
    bottom: -54px;
    right: 112px;
  }

  .slick-dots {
    bottom: -47px;

    li {
      width: 10px;
      height: 10px;
      border: 1px solid $yellowColor;
      border-radius: 100%;
      margin: 0 12px;
      display: inline-block;
      vertical-align: middle;

      button {
        &:before {
          display: none;
        }
      }

      &.slick-active,
      &:hover {
        border-radius: 7px;
        background: #000;
        border: 1px solid #fff;

        &:before {
          content: '';
          width: 26px;
          height: 26px;
          border-radius: 100%;
          border: 1px solid $yellowColor;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -13px;
          margin-top: -13px;
        }
      }
    }
  }
}

@media screen and(max-width: 1215px) {
  .main-slider {
    max-width: 1024px;

    .slick-prev {
      left: 18px;
    }
    .slick-next {
      right: 18px;
    }
  }
}
// .bx-wrapper {
//   border: none;
//   box-shadow: none;
//
//   .bx-pager.bx-default-pager a {
//     background: none;
//     border-radius: 50%;
//     border: 1px solid $yellowColor;
//     width: 9px;
//     height: 9px;
//     margin: 0 10px;
//
//     &.active {
//       border: 8px solid #fff;
//       background: #000;
//       width: 22px;
//       height: 22px;
//       box-shadow: 0 0 1px 1px $yellowColor;
//     }
//   }
//   .bx-pager {
//     bottom: -42px;
//   }
//
//   .bx-controls-direction {
//     width: 990px;
//     position: relative;
//     margin: 0 auto;
//   }
//   .bx-controls-direction a {
//     top: auto;
//     bottom: -40px;
//     width: 10px;
//     height: 16px;
//   }
//   .bx-prev {
//     background: url(../img/prev.jpg) no-repeat;
//     background-position: 0 0;
//     left: 0;
//
//     &:hover {
//       background-position: 0 -17px;
//     }
//   }
//   .bx-next {
//     background: url(../img/next.jpg) no-repeat;
//     background-position: 0 0;
//     right: 0;
//
//     &:hover {
//       background-position: 0 -17px;
//     }
//   }
// }
