.distribution-map {
  text-align: center;
  border-top: 1px solid $yellowColor;
  padding-top: 33px;

  .wrapper {

  }

  &__title {
    font-family: $fserm;
    font-size: 30px;
    line-height: 33px;
    color: $yellowColor;
    margin-bottom: 20px;
  }
  &__russia {
    width: 980px;
    height: 530px;
    background: url(../img/map/map.jpg) 0 0 no-repeat;
  }
}
