.distribution-map {
  text-align: center;

  .wrapper {
    border-top: 1px solid $yellowColor;
    padding-top: 33px;
  }

  &__title {
    font-family: $fserm;
    font-size: 30px;
    line-height: 33px;
    color: $yellowColor;
    margin-bottom: 20px;
  }
  &__russia {
    width: 980px;
    height: 530px;
    background: url(../img/map/map.jpg) 0 0 no-repeat;
  }
  &__block {
    width: 410px;
    background: rgba(245, 243, 241, .73);
    text-align: left;
    position: absolute;
    left: 485px;
    top: 205px;
    border: 1px solid #e8e8e8;
    padding: 35px 0 40px 35px;
    display: none;

    &:after {
      content: '';
      display: block;
      width: 46px;
      height: 41px;
      position: absolute;
      right: 30px;
      bottom: 20px;
      background: url(../img/map/logo-map.png) 0 0 no-repeat;
    }

    &.active {
      display: block;
    }
  }
  &__name {
    font-size: 16px;
    line-height: 19px;
    color: $yellowColor;
    font-family: $fserm;
    width: 215px;
    text-transform: uppercase;

    &:after {
      content: '';
      width: 32px;
      height: 2px;
      background: $yellowColor;
      display: block;
      margin-top: 8px;
      margin-bottom: 18px;
    }
  }
  &__manager {
    font-family: $fsm;
    font-size: 14px;
    line-height: 18px;
  }
  &__position {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
    width: 170px;
  }
  &__phone {
    font-size: 14px;
    line-height: 18px;
  }
  &__link {
    font-size: 14px;
    line-height: 18px;
    color: $yellowColor;
    font-family: $fsbki;
    @include htd;
  }
}
