block link
  -var selected = 'контакты';

extends ../layouts/main_layout.jade

block content
  include ../common/contacts/shop.jade
  include ../common/contacts/contacts.jade
  include ../common/contacts/form.jade
  include ../common/stamps.jade
