section.search-page
  .wrapper
    form.search-page__search
      input.search-page__input(placeholder="Поиск")
      button.search-page__submit(type="submit")
    
    .search-page__number Результаты поиска 1 - 3 из 3
    span.search-page__sort Отсортировано по релевантности
    a(href="").search-page__sort.search-page__sort--link Сортировать по дате
    
    .search-page__results
      .search-page__result
        a.search-page__name(href="") Прайс  
        .search-page__change Изменен: 07.09.2015
        .search-page__text.
          ... Российский коньяк "Юбилейный" трехлетний /винт/ 0,5л (229) 403,00 15 Российский коньяк четырехлетний "Золотой стандарт" 0.5л. (корка) 407,00 16 Российский кон   ьяк пятилетний "Золотой стандарт" 0.5л. (корка) 430,00 Вина Вина "Baco" 1 Вино столовое белое сухое "Sauvignon Blanc" "Совиньон блан" 10,5-12,...
    
      .search-page__result
        a.search-page__name(href="") Акция к 70-летию Победы в фирменном магазине МКШВ
        .search-page__change Изменен: 02.05.2015
        .search-page__text.
          ... 164,00р. 149,00р. 8 Российский коньяк четырехлетний "Золотой стандарт" 0.5л. (корка)               407,00р.  370,00р. 9 Российский коньяк пятилетний "Золотой стандарт" 0.5л. (корка)               430,00р.  391,00р. 10 Вино столовое белое сухое "Sauvignon Blanc" "Совиньон ...
        
      .search-page__result
        a.search-page__name(href="") Новинка МКШВ - коньяк "Юбилейный"
        .search-page__change Изменен: 15.11.2014
        .search-page__text.
          ... сложный, в букете присутствуют дубильно-ванильные тона,  вкус элегантный с оттенками орехов и специй, длительное послевкусие. Тип напитка : Российский пятилетний коньяк Алкоголь : 40% об. Укупорка : винтовая коньячная пробка Емкость : 0,1/0,25/0,5 л. Коробка : 50/30/12 бут. соотв. емкости

    .search-page__pages
      a.search-page__prev(href="")
      a.search-page__page(href="") 1
      a.search-page__page(href="") 2
      a.search-page__page(href="") 3
      a.search-page__next(href="")
