footer.footer
  .wrapper
    .footer__top
      .footer__left
        form.search(action="")
          input.search__input(type="text", placeholder="Поиск по сайту")
          button.search__loupe(type="submit")
          
        a.map(href="") Карта сайта
      
      .footer__right.
        &copy;&nbsp;Московский Комбинат Шампанских Вин, 
        2006&nbsp;&mdash; 2015 Все права защищены
      
      .social
        a.social__link.tw(href="")
        a.social__link.vk(href="")
        a.social__link.fb(href="")
        a.social__link.pen(href="")
        a.social__link.wifi(href="")
        a.social__link.maila(href="")
        a.social__link.ok(href="")

    .footer__bottom.
      Минздрав предупреждает: чрезмерное упортребление алкоголя вредит вашему здоровью
