header.header
  .wrapper
    img.header__logo-combine(src="img/combine.png", alt="")
    .header__block
      ul.header__language-list
        li.header__language-item
          span.header__language-link.active(href="") ru
          
        li.header__language-item
          a.header__language-link(href="") eng
        
      a.header__contact.header__contact--phone(href="") +7 (495) 448-84-50
      a.header__contact.header__contact--mail(href="mailto:mcw.opt@mcw.ru") mcw.opt@mcw.ru
    
    a.header__logo-house(href="index.html")
      img(src="img/house.png", alt="")
    
