block link

-var menu = { 'о компании': 'about.html', 'продукция': 'products.html', 'дистрибуция': 'distribution.html', 'новости': 'news.html', 'фотогалерея': 'galleries.html', 'наши партнеры': 'partners.html', 'контакты': 'contacts.html' }

nav.nav
  .wrapper
    each val, key in menu
      a.nav__link(href=val, class={active: selected === key})= key
