section.not-found
  .wrapper
    .not-found__title Cтраница не найдена
    .not-found__text Запрашиваемой вами страницы не существует. Возможно ссылка на нее изменилась. 
    .not-found__text Пожалуйста воспользуйтесь поиском, или  картой сайта.
    form.not-found__form
      input.not-found__search(type="text", placeholder="поиск по сайту")
      button.not-found__submit
