section.offers
  .wrapper
    .offers__title предложения
    
    .offers__block
      img.offers__img--hover(src="img/offer1-hover.jpg", alt="")
      img.offers__img(src="img/offer1.png", alt="")
      .offers__text Ваш логотип на продукции
      
    .offers__block
      img.offers__img--hover(src="img/offer2-hover.jpg", alt="")
      img.offers__img(src="img/offer2.png", alt="")
      .offers__text Производство
      
    .offers__block
      img.offers__img--hover(src="img/offer3-hover.jpg", alt="")
      img.offers__img(src="img/offer3.png", alt="")
      .offers__text Приглашение на дегустацию 
