block products-link

-var menu = { 'Тихие вина': '', 'Шампанские и игристые вина': '', 'Коньяки': '' }
-var menu_view = { 'плитка': 'products-tile.html', 'список': 'products-list.html' }

nav.products-nav
  .wrapper
    .products-nav__first-menu
      each val, key in menu
        a.products-nav__first-menu--link(href=val, class={active: selected === key})= key
    
    .products-nav__view-menu
      each val, key in menu_view
        if view_selected === key
          span.products-nav__view-menu--link.active
            span.products-nav__span= key
        else
          a.products-nav__view-menu--link(href=val)
            span.products-nav__span= key
        
      
