// build:js js/vendor.min.js
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/slick-carousel/slick/slick.min.js')
script(src='/bower/bx-slider.js/jquery.bxslider.js')
// endbower
// endbuild

script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

// build:js js/main.min.js
script(src='js/map.js')
script(src='js/main.js')
// endbuild
