sections.stamps
  .wrapper
    .stamps__slider.js-stamps-slider
      a.stamps__slide(href="")
        img.stamps__img(src="img/stamp1.png", alt="")
        img.stamps__img--hover(src="img/stamp1-hover.png", alt="")
        
      a.stamps__slide(href="")
        img.stamps__img(src="img/stamp2.png", alt="")
        img.stamps__img--hover(src="img/stamp2-hover.png", alt="")
        
      a.stamps__slide(href="")
        img.stamps__img(src="img/stamp3.png", alt="")
        img.stamps__img--hover(src="img/stamp3-hover.png", alt="")
        
      a.stamps__slide(href="")
        img.stamps__img(src="img/stamp4.png", alt="")
        img.stamps__img--hover(src="img/stamp4-hover.png", alt="")
        
      a.stamps__slide(href="")
        img.stamps__img(src="img/stamp2.png", alt="")
        img.stamps__img--hover(src="img/stamp2-hover.png", alt="")
