section.contacts
  .wrapper
    .contacts__title контакты
    
    .contacts__column
      .contacts__name ОАО «МКШВ»
      .contacts__block
        .contacts__position Генеральный директор:
        .contacts__person Талаев Магомед Сайпулаевич
        
      .contacts__block
        .contacts__position Секретариат:
        .contacts__phone +7 (495) 448-84-50
        .contacts__phone +7 (495) 448-45-55
        
      .contacts__block
        .contacts__position Отдел технического контроля:
        .contacts__phone +7 (495) 448-84-42
        
      .contacts__block
        .contacts__position Отдел ВЭД:
        .contacts__phone +7 (495) 448-93-02
        
      .contacts__block
        .contacts__position Бухгалтерия:
        .contacts__phone +7 (495) 448-84-49
        
      .contacts__block
        .contacts__position Отдел кадров:
        .contacts__phone +7 (495) 448-71-07
        
    .contacts__column
      .contacts__name Коммерческий отдел
      .contacts__block
        .contacts__position Коммерческий директор
        .contacts__person Овчинников Всеволод
        .contacts__phone +7 (495) 727-28-81  
        
      .contacts__block
        .contacts__position Начальник отдела региональных продаж Москва и МО, ЮФО
        .contacts__person Акимова Елена 
        .contacts__phone +7(495) 446-47-87
        
      .contacts__block
        .contacts__position Менеджер регионального отдела ПФО и ЦФО
        .contacts__person Ларюшин Сергей Владиславович 
        .contacts__phone +7 (965) 269-02-59
        
      .contacts__block
        .contacts__position Менеджер по экспорту и работе с контрактным розливом:
        .contacts__person Назин Иван 
        .contacts__phone +7 (495) 727-21-96
        
      .contacts__block
        .contacts__position Региональный менеджер регионы  (Сибирский ФО и Уральский ФО)
        .contacts__person Вячеслав Смирнов 
        .contacts__phone +7 (903) 517-35-35
        
      .contacts__block
        .contacts__position Региональный менеджер ЦФО:
        .contacts__person Морозов Игорь 
        .contacts__phone +7 (495) 727-21-98 
        
      .contacts__block
        .contacts__position Региональный менеджер СЗФО-СпБ:
        .contacts__person Тарков Роман
        .contacts__phone +7 (981) 770-05-55 
        
      .contacts__block
        .contacts__position Менеджер по ключевым клиентам
        .contacts__person Животнёв Роман моб. 
        .contacts__phone +7(963) 715-78-78

    .contacts__column
      .contacts__name Отдел по работе с сетевыми клиентами
      .contacts__block
        .contacts__position Директор по развитию сетевых продаж
        .contacts__person Завьялов Игорь 
        .contacts__phone +7 (495) 727-21-93 
          span.contacts__phone--span (доб. 2-54)
        
      .contacts__block
        .contacts__position Менеджер отдела сетевых продаж:
        .contacts__person Коньков Максим 
        .contacts__phone +7 (495) 727-19-90 
          span.contacts__phone--span (доб. 223)
        
      .contacts__block
        .contacts__position Менеджер по работе с ключевыми клиентами
        .contacts__person Дмитриев Евгений 
        .contacts__phone +7 (495) 727-19-90 
          span.contacts__phone--span (доб. 368)
        
      .contacts__block
        .contacts__position Менеджер отдела клиенского сервиса:
        .contacts__person Яренчак Наталья 
        .contacts__phone +7 (495) 727-19-90 
          span.contacts__phone--span (доб. 217)
        
      .contacts__block
        .contacts__name Отдел Маркетинга
        .contacts__position Маркетолог:
        .contacts__person Власова Ирина 
        .contacts__phone +7 (495) 727-21-93 
          span.contacts__phone--span (доб. 228)
        
      .contacts__block
        .contacts__position Трейд-маркетолог
        .contacts__person Крючкова Анастасия
        .contacts__phone +7 (495) 727-19-90 
          span.contacts__phone--span (доб. 720)
