section.form
  .wrapper
    .form__title Пишите нам
    form(action="")
      .form__desc Имя:
      input.form__input(type="text", placeholder="Например: «Иван иванов»")
      
      .form__desc Тема:
      input.form__input(type="text", placeholder="Например: «Отзыв покупателя»")
      
      .form__desc e-mail:
      input.form__input(type="text", placeholder="Например: «mail@example.com»")
      
      .form__desc Сообщение:
      textarea.form__textarea(name="")
      
      input.form__button(type="submit", name="submit", value="Отправить")
