section.shop
  .wrapper
    .shop__left
      .shop__title Фирменный магазин
      .shop__text.
        В нашем фирменном магазине Вы можете приобрести весь ассортимент алкогольной продукции, производимой комбинатом.
        
      .shop__adress.
        121471, Москва, ул. Рябиновая, д.44
        График работы: пн-вс: с 9:00 до 20:15

      .shop__break (без перерыва на обед и без выходных)
      .shop__phone Tелефон: +7 (495) 447-49-12 
      
    .shop__right
      #map
