section.products-tile
  .wrapper  
    .products-tile__blocks
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/moscow_semisweet.png", alt="")
        .products-tile__title Московское шампанское
        .products-tile__text брют / полусладкое
        .products-tile__text 0,75 / 1,5 / 3 / 6 л.
        
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/moscowelite_brut.png", alt="")
        .products-tile__title Московское элитное шампанское
        .products-tile__text брют / полусладкое
        .products-tile__text 0,75 л.
        
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/moscowcollection.png", alt="")
        .products-tile__title Московское коллекционное шампанское
        .products-tile__text брют
        .products-tile__text 0,75 л.
        
    .products-tile__blocks
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/AlbertD.png", alt="")
        .products-tile__title Albert D
        .products-tile__text брют
        .products-tile__text 0,75
        
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/goldstandart_semisweet.png", alt="")
        .products-tile__title Шампанское золотой стандарт
        .products-tile__text брют / полусладкое
        .products-tile__text 0,75
        
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/rusian_semisweet.png", alt="")
        .products-tile__title Российское шампанское
        .products-tile__text брют / полусухое / полусладкое / сладкое
        .products-tile__text 0,75 л.
        
    .products-tile__blocks
      //- a.products-tile__block(href="")
      //-   img.products-tile__img(src="img/bottles/.png", alt="")
      //-   .products-tile__title Caprice
      //-   .products-tile__text брют / полусладкое
      //-   .products-tile__text 0,75л.
      //-   
      //- a.products-tile__block(href="")
      //-   img.products-tile__img(src="img/bottles/.png", alt="")
      //-   .products-tile__title Московское шампанское для особых случаев
      //-   .products-tile__text брют
      //-   .products-tile__text 1,5 / 3  л.
        
      a.products-tile__block(href="")
        img.products-tile__img(src="img/bottles/shampDuRoi_semisweet.png", alt="")
        .products-tile__title Champ Du Roi
        .products-tile__text полусладкое
        .products-tile__text 0,75 л.
        
    //- .products-tile__blocks
    //-   a.products-tile__block(href="")
    //-     img.products-tile__img(src="img/bottles/.png", alt="")
    //-     .products-tile__title Шампанское совет да любовь
    //-     .products-tile__text полусладкое
    //-     .products-tile__text 0,75 / 1,5 л.
