section.about
  .wrapper
    .about__title Московский комбинат шампанских вин
    .about__block
      p Московский комбинат шампанских вин основан 29 декабря 1980 года. С этого времени начинается богатая история комбината.
        
      p Расположен комбинат на 8 гектарах юго-запада Москвы. На момент основания проектная мощность предприятия составляла 20 млн. бутылок в год. Сегодня комбинат является одним из крупнейших в России и может производить около 50 млн. бутылок в год. Продукция комбината пользуется большим спросом среди потребителей. Они полюбили разнообразный и интересный ассортимент комбината и ценят его продукцию за сочетание приемлемой рыночной цены и высокого качества.
      
      p На базе производственных мощностей ОАО «Московского комбината шампанских вин» 1 ноября 1994 года было создано предприятие с хорошо известной аббревиатурой ООО «РИСП» – Русско – Ирландское совместное предприятие. Это предприятие учреждено двумя мощными фирмами мирового значения: ОАО «МКШВ» и фирмой «Мегастейт Индастриз Лимитед» (Ирландия). Продукция «РИСП» составляет примерно 15% от общего годового объема производства шампанских вин на мощностях ОАО «МКШВ».
      
      .about__images
        img(src="img/about/img1.jpg", alt="")
        img(src="img/about/img2.jpg", alt="")
        img(src="img/about/img3.jpg", alt="")
      
      p Московскому комбинату шампанских вин принадлежит филиал ОАО "МКШВ" - "КАВИГРИС", который расположен у подножия горы Бештау в Став-ропольском крае. Он был открыт в 2005 году на базе бывшего Иноземцевского пивного завода, построенного в 1921 г. Уже в 2007-м после диверсификации производства был начат выпуск шампанского. Макроклимат данного региона позволяет сформировать свои особенности в производстве шампанских и тихих вин. Продукция филиала постоянно завоевывает признание на специализированных дегустационных выставках и конкурсах.
      
      p В 2010 г. ОАО «МКШВ» отмечал свой юбилей под девизом «30 лет традиций и качества». Этот год стал очередным этапом в развитии комбината – был открыт новый коньячный цех в южном филиале и, под руководством технолога из провинции Шампань, было выпущено шампанское, изготовленное классическим способом по французской технологии. Данная технология заключается в том, что вторичное брожение вина происходит не в резервуарах (как в методе, придуманном в Советском Союзе), а используется бутылочный способ шампанизации.
      
      p В производстве данной продукции использовался высококачественный виноматериала Шардоне 2007 года выпуска из провинции Франции Лангедок. Данная про-дукция производится в настоящее время, и реализуется под торговой маркой шампанское «Московское Классическое» белое выдержанное более 3-х лет.
      
      p Производство шампанского затратный технологичный процесс. Несмотря на это, ОАО «МКШВ» продолжает традиции отечественного виноделия, а так же внедряет новые технологии производства шампанских вин. Комбинат ведет регулярную работу по техническому перевооружению, реконструкции цехов и развитию производства, расширяет ассортимент. На заводе представлено, в основном, импортное оборудование итальянских и немецких производителей. Производство шампанского осуществляется всеми известными методами: резервуарным периодическим/непрерывным и классическим бутылочным методом шампанизации. Независимо от метода производства игристость является результатом насыщения углекислым газом в ходе вторичного дрожжевого брожения - образуется натуральная углекислота.
      
      img(src="img/about/img4.jpg", alt="")
      p Качество – это кредо ОАО «Московского комбината шампанских вин». Но, как известно, качество, как и красоту, каждый воспринимает по-своему, несмотря на это при проведении дегустаций продукции комбината между дегустаторами возникает согласие во мнениях, которое позволяет виноделам понять - какими именно чертами обладает тот или иной напиток. Виноделы комбината к оценке продукции применяют все известные концепции качества, основанные на таких свойствах как комплексность органолептики, тонкость, баланс, «элегантность», раскрытие, длительность и уникальность.
      
      p В первую очередь, качество продукции – это отражение мастерства и квалификации винодела (технолога) - без него не было бы и напитка. Технологи комбината постоянно повышают свой уровень знаний в области сырья и производства, периодически посещают зарубежные площадки производства и реализации сырья и конечного продукта иностранных производителей, обмениваются опытом и подбирают лучшее сырье для производства напитков комбината, что является главным по значимости фактором качества.
      
      .about__images
        img(src="img/about/img5.jpg", alt="")
        img(src="img/about/img6.jpg", alt="")
        
      p На комбинате для производства используются высококачественные сортовые шампанские виноматериалы, которые поставляют из Италии, Испа-нии, Франции, Южной Африки, Аргентины, Чили. Российские виноматериалы занимают примерно 10% всех поставок – в основном это виноматери-алы из Кубани. Все сырье соответствует высоким требованиям производства. Продукция комбината из года в год побеждает на международных конкурсах. Сегодня в коллекции компании 45 золотых медали, 28 серебряных и три бронзовых. Несмотря на все заслуги, компания не стоит на месте и постоянно развивается: модернизирует производство, расширяет технологические и управленческие возможности для сохранения доверия потребителей.
      
      .about__images
        img.about__medal(src="img/about/medals/medal1.jpg", alt="")
        img.about__medal(src="img/about/medals/medal2.jpg", alt="")
        img.about__medal(src="img/about/medals/medal3.jpg", alt="")
        img.about__medal(src="img/about/medals/medal4.jpg", alt="")
        img.about__medal(src="img/about/medals/medal5.jpg", alt="")
        img.about__medal(src="img/about/medals/medal6.jpg", alt="")
        img.about__medal(src="img/about/medals/medal7.jpg", alt="")
        
      p Сегодня на МКШВ выпускается более 10 торговых марок шампанского, а также тихие вина и коньяки разной выдержки. На Московском комбинате шампанских вин 5 линий розлива: три для розлива шампанских и игристых вин, одна линия розлива для тихого вина, одна - для коньяка.
      
      p Московский комбинат шампанских вин приглашает всех желающих на экскурсии по комбинату с проведением дегустаций продукции.
      
      .about__images
        img(src="img/about/img7.jpg", alt="")
        img(src="img/about/img8.jpg", alt="")
        
      .about__links
        span.about__shared Поделиться: 
        a.about__link.vk(href="") vk.com
        a.about__link.fb(href="") facebook
        a.about__link.od(href="") одноклассники
        a.about__link.go(href="") Google +
        a.about__link.tw(href="") twitter
