section.about-video
  .wrapper
    .about-video__block
      iframe(width='100%', height='100%', src='https://www.youtube.com/embed/9shKSKcSGDo?list=PLY4rE9dstrJya20WfIeVLOuof4yQk8tC_', frameborder='0', allowfullscreen='')
