section.site-map
  .wrapper
    .site-map__title Карта сайта
    .site-map__block
      a.site-map__name(href="") О компании
      .site-map__text.
        Московский комбинат шампанских вин основан 29 декабря 1980 года. С этого времени начинается богатая история комбината.
        
      a.site-map__more(href="") читать далее
      
    .site-map__block
      a.site-map__name(href="") Ваш логотип на продукции
      .site-map__text.
        МКШВ предлагает сотрудничество в рамках контрактного производства алкогольной продукции.
        
      a.site-map__more(href="") узнать подробности
      
    .site-map__block
      a.site-map__name(href="") Производство
      a.site-map__link(href="") История производства напитка королей
      a.site-map__link(href="") Традиции МКШВ
      
    .site-map__block
      a.site-map__name(href="") Приглашаем на дегутацию
      .site-map__text.
        МКШВ проводит эксклюзивные экскурсии и устраивает дегустациями своей продукции.
        
      a.site-map__more(href="") узнать подробности
      
    .site-map__block
      a.site-map__name(href="") Дистрибуция
      .site-map__text.
        Федеральная дистрибуция московского комбината шампанских вин.
    
    .site-map__block.site-map__block-big
      a.site-map__name(href="") Продукция
      
      .site-map__column
        a.site-map__link-bold(href="") Тихие вина
        a.site-map__link(href="") Abadia de baco
        a.site-map__link(href="") Bueno fortuna
        
      .site-map__column
        a.site-map__link-bold(href="") Шампанские и игристые вина
        a.site-map__link(href="") Albert D
        a.site-map__link(href="") Московское коллекционное шампанское
        a.site-map__link(href="") Московское элитное шампанское
        a.site-map__link(href="") Московское шампанское
        a.site-map__link(href="") Шампанское золотой стандарт
        a.site-map__link(href="") Российское шампанское
        a.site-map__link(href="") Caprice
        a.site-map__link(href="") Московское шампанское для особых случаев
        a.site-map__link(href="") Champ Du Roi 
        a.site-map__link(href="") Шампанское совет да любовь
        
      .site-map__column
        a.site-map__link-bold(href="") Коньяки
        a.site-map__link(href="") Коньяк российский мкшв трехлетний
        a.site-map__link(href="") Коньяк российский мкшв пятилетний
        a.site-map__link(href="") Подарочный набор коньяков
        a.site-map__link(href="") Коньяк золотой стандарт
        a.site-map__link(href="") Коньяк юбилейный
    
    .site-map__block
      a.site-map__name(href="") Новости
      .site-map__text.
        Новинки, акции, конкурсы достижения московского комбината шампанских вин и другая свежая информация.
      
    .site-map__block
      a.site-map__name(href="") Фотогалерея
      .site-map__text.
        Фотоотчеты из жизни московского комбината шампанских вин.
      
    .site-map__block
      a.site-map__name(href="") Наши партнеры
      .site-map__text.
        Список партнеров московского комбината шампанских вин.
      
    .site-map__block
      a.site-map__name(href="") Контакты
      .site-map__text.
        Полный список контактов московского комбината шампанских вин.
