section.post-news
  .wrapper
    .post-news__title другие новости
    
    .post-news__news
      a.post-news__block(href="")
        .post-news__date 20 февраля 2016
        .post-news__name Победа в конкурсе!
        .post-news__text.
          На прошедшем дегустационном конкурсе в Москве, проводимом в рамках Международной Выставке Продэкспо-2016 высокими наградами была отмечена наша продукция.
          
        span.post-news__link Подробнее
        
      a.post-news__block(href="")
        .post-news__date 20 февраля 2016
        .post-news__name.
          Наш скромный вклад в повышение обороноспособности
          
        .post-news__text.
          МКШВ успешно развивает винодельческий туризм.
          
        span.post-news__link Подробнее
        
      a.post-news__block(href="")
        .post-news__date 20 февраля 2016
        .post-news__inside
          .post-news__name Заслуженная победа!
          .post-news__text.
            Заслуженная победа! На прошедшем в Абрау-Дюрсо дегустационном конкурсе «Союза виноделов и виноградарей России» – «Кубок СВВР  – 2015», проводимого в рамках  Всероссийского Саммита виноделов.
          
        span.post-news__link Подробнее

    a.post-news__all-news(href="") все новости
