section.post
  .wrapper
    a.post__back(href="news.html") вернуться к списку новостей
    .post__columns
      .post__column
        .post__block
          img.post__img(src="img/post1/post-img-min1.jpg", alt="", data-post-slider="img/post1/post-img-big1.jpg")
          .post__caption Подпись к картинке
        
        .post__block
          img.post__img(src="img/post1/post-img-min2.jpg", alt="" data-post-slider="img/post1/slide8.jpg")
          .post__caption.
            Подпись к картинке в три строки
            великолепное шампанское из винограда Шардоне
          
        .post__block
          img.post__img(src="img/post1/post-img-min3.jpg", alt="" data-post-slider="img/post1/post-img-big1.jpg")
          .post__caption Подпись к картинке
        
      .post__column
        .post__title.
          МКШВ ПРИГЛАШАЕТ ВСЕХ ЗАИНТЕРЕСОВАННЫХ ЛИЦ ВСТРЕТИТЬСЯ НА ВЫСТАВКЕ ПРОДЭКСПО-2015
        
        .post__text  
          p
            | В течение нескольких лет акционеры 
            strong МКШВ 
            | инвестировали существенные средства в развитие и модернизацию производства, строительство
            | логистических и складских активов, совершенствование технологий и системы качества продукции. 
            | Новое значение обрели виноградники южного филиала 
            strong «Кавигрис» 
            | в экологичном регионе Кавказских минеральных вод.
          
          p
            strong Московский Шампанский Дом
            | — это новая, отвечающая требованиям рынка, система производства, продвижения и продажи
            | отечественных шампанского, коньяка, игристых и тихих вин. Мы бережно относимся к традиционным
            | вкусам наших потребителей, но одновременно внимательно изучаем современные пристрастия
            | любителей шампанского. Три года назад мы сделали первую значительную «закладку» уникального
            | шампанского европейского уровня и будем всегда поддерживать и расширять эту коллекцию. 
            a(href="") Московский Шампанский Дом 
            |представляет вашему вниманию новую коллекцию из 8-ми торговых марок,
            | которые, мы уверены, с достоинством займут место в ассортименте магазинов и выйдут в лидеры продаж. 
            a(href="") Стиль посещенной ссылки
            
          p
            | На нашем стенде 
            strong «Продэкспо-2015», павильон 8, зал 1, стенд 81С05
            |, вы сможете не только первыми заключить выгодные контракты на 2015 год, но и лично познакомиться с авторами новых марок — Валентиной Георгиевной Хорошиловой (ОАО МКШВ), заместителем генерального директора по качеству, и Жаком Дагоне (Франция). Месье Дагоне является продолжателем дела известной французской династии шампанистов, его прадед — Альберт Дагоне, один из тех виноделов, которые в 1914 году стояли у истоков российского виноградарства. Новая марка Московского Шампанского Дома, 
            a(href="") «Альберт Д» 
            | — великолепное шампанское из винограда Шардоне, выращенного во Франции, на семейных плантациях Дагоне в Шампани.
            
          p
            strong Новый «портфель» торговых марок
            | специально рассчитан практически на все ценовые сегменты, качество продукции, как и всегда это было у ОАО «МКШВ» — высокое и стабильное, вкусы и кондиции напитков максимально отвечают запросам покупателей и смогут заменить многие импортные аналоги. В планах 
            a Московского Шампанского Дома
            | — реализация долгосрочной программы по рекламной поддержке новых марок, направленная на расширение ситуаций потребления и аудитории шампанских и игристых вин.
          
        .post__share
          .post__share-text Опубликованно 18 апреля 2016
          .post__share-links
            span.post__shared Поделиться: 
            a.post__share-link.vk(href="")
              img(src="img/vk.jpg", alt="")
              span vk.com
            a.post__share-link.fb(href="")
              img(src="img/fb.jpg", alt="")
              span facebook
            a.post__share-link.od(href="")
              img(src="img/od.jpg", alt="")
              span одноклассники
            a.post__share-link.go(href="")
              img(src="img/go.jpg", alt="")
              span Google +
            a.post__share-link.tw(href="")
              img(src="img/tw.jpg", alt="")
              span twitter
