section.main-slider.js-main-slider
  .main-slider__slide.main-slider__slide--1
    .main-slider__left
      .main-slider__title Московское
      .main-slider__text.
        Для изготовления этого шампанского применяются классические для шампанских вин сорта винограда Шардоне, Пино, Алиготе, Рислинг.
      
      a.main-slider__link(href="") Подробнее
        
    .main-slider__right
      img.main-slider__bottle(src="img/bottle1.jpg", alt="")
      
  .main-slider__slide.main-slider__slide--2
    .main-slider__left
      .main-slider__title Московское
      .main-slider__text.
        Для изготовления этого шампанского применяются классические для шампанских вин сорта винограда Шардоне, Пино, Алиготе, Рислинг.
      
      a.main-slider__link(href="") Подробнее
        
    .main-slider__right
      img.main-slider__bottle(src="img/bottle1.jpg", alt="")

  .main-slider__slide.main-slider__slide--3
    .main-slider__left
      .main-slider__title Московское
      .main-slider__text.
        Для изготовления этого шампанского применяются классические для шампанских вин сорта винограда Шардоне, Пино, Алиготе, Рислинг.
      
      a.main-slider__link(href="") Подробнее
        
    .main-slider__right
      img.main-slider__bottle(src="img/bottle1.jpg", alt="")
