section.index-news
  .wrapper
    .index-news__title новости
    
    a.index-news__block(href="")
      .index-news__date 21 октября 2015
      .index-news__name Заслуженная победа!
      .index-news__text.
        Заслуженная победа! На прошедшем в Абрау-Дюрсо дегустационном конкурсе «Союза виноделов и виноградарей России» – «Кубок СВВР  – 2015», проводимого в рамках  Всероссийского Саммита виноделов.
        
      span.index-news__link Подробнее
      
    a.index-news__block(href="")
      .index-news__date 17 сентября 2015
      .index-news__name.
        «Albert D» — для деловых встреч и официальных приемов!
        
      img.index-news__img(src="img/news-img.jpg", alt="")
        
      span.index-news__link Подробнее
      
    a.index-news__block(href="")
      .index-news__date 28 июля 2015
      .index-news__inside
        .index-news__name Аудит предприятий
        .index-news__text.
          На этой неделе на нашем комбинате прошла аудиторская проверка производства от наших многолетних партнеров, для которых мы производим продукцию под их собственными торговыми марками.
        
      span.index-news__link Подробнее
