section.products-list
  .wrapper
    .products-list__block
      .products-list__left
        .products-list__title Московское шампанское
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское 
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 / 1,5 / 3 / 6 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют / полусладкое
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Для изготовления этого шампанского применяются классические для шампанских вин сорта винограда Шардоне, Пино, Алиготе, Рислинг. Шампанское обладает утонченным вкусовым букетом с нотками зеленого яблока и цветов липы.
        
      .products-list__slider.js-products-list-slider
        img.products-list__slide(src="img/products-list/block1/img1.png", alt="")
        img.products-list__slide(src="img/products-list/block1/img2.png", alt="")
        
      .products-list__pager.js-products-list-pager
        a.products-list__pager-link(href="", data-slide-index="0")
          img.products-list__pager-img(src="img/products-list/block1/img1-mini.jpg", alt="")
          .products-list__pager-text брют
          
        a.products-list__pager-link(href="", data-slide-index="1")
          img.products-list__pager-img(src="img/products-list/block1/img2-mini.jpg", alt="")
          .products-list__pager-text полусладкое
