section.products-list
  .wrapper
    .products-list__block
      .products-list__left
        .products-list__title Московское шампанское
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское 
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 / 1,5 / 3 / 6 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют / полусладкое
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Для изготовления этого шампанского применяются классические для шампанских вин сорта винограда Шардоне, Пино, Алиготе, Рислинг. Шампанское обладает утонченным вкусовым букетом с нотками зеленого яблока и цветов липы.
        
      .products-list__slider.js-products-list-slider
        img.products-list__slide(src="img/products-list/block1/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block1/img2.jpg", alt="")
      
      .products-list__variations Вариации
      
      .products-list__pager.js-products-list-pager
        a.products-list__pager-link(href="", data-slide-index="0")
          img.products-list__pager-img(src="img/products-list/block1/img1-mini.jpg", alt="")
          .products-list__pager-text брют
          
        a.products-list__pager-link(href="", data-slide-index="1")
          img.products-list__pager-img(src="img/products-list/block1/img2-mini.jpg", alt="")
          .products-list__pager-text полусладкое

    .products-list__block
      .products-list__left
        .products-list__title Московское элитное шампанское
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское выдержанное 6 месяцев 
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют / полусладкое
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            «Московское Элитное» — качественный продукт, который отвечает самому престижному событию.
          
          .products-list__description-text.
            Гармоничное сочетание таких сортов винограда как Шардоне, Алиготе, Рислинг и Пино создает это великолепное шампанское. Для достижения утонченного вкуса напиток выдерживается 6 месяцев.
        
      .products-list__slider.js-products-list-slider
        img.products-list__slide(src="img/products-list/block2/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block2/img1.jpg", alt="")
      
      .products-list__variations Вариации
      
      .products-list__pager.js-products-list-pager
        a.products-list__pager-link(href="", data-slide-index="0")
          img.products-list__pager-img(src="img/products-list/block2/img1-mini.jpg", alt="")
          .products-list__pager-text брют
          
        a.products-list__pager-link(href="", data-slide-index="1")
          img.products-list__pager-img(src="img/products-list/block2/img1-mini.jpg", alt="")
          .products-list__pager-text полусладкое

    .products-list__block
      .products-list__left
        .products-list__title Московское коллекционное шампанское
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское выдержанное до 3 лет 
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Шампанское создано по классической технологии бутылочным методом шампанизации с выдержкой более трех лет. Бутылочный способ производства шампанского обеспечивает получение продукции самого высокого качества и отличается сложностью, длительностью технологического процесса. Первая партия шампанского произведена из белого винограда Chardonnay, урожая 2007 г., выращенного во Франции в провинции Languedoc.
        
      .products-list__slider.products-list__slider--not
        img.products-list__slide(src="img/products-list/block3/img1.jpg", alt="")

    .products-list__block
      .products-list__left
        .products-list__title Albert D
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text Российское шампанское коллекционное, бутылочный способ шампанизации 
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Великолепное шампанское, с французскими корнями и русской душой - Шампанское Albert D!
            
          .products-list__description-text.
            Изготовлено вино с участием известного французского винодела и энолога Жака Дагоне, семья которого вот уже более двухсот лет занимается искусством шампанского производства. 
          
          .products-list__description-text.
            Винтажное вино 2009 года, для создания  которого был использован традиционный сорт винограда Шардоне.
        
      .products-list__slider.products-list__slider--not
        img.products-list__slide(src="img/products-list/block4/img1.jpg", alt="")

    .products-list__block
      .products-list__left
        .products-list__title Шампанское золотой стандарт
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют / полусладкое
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Шампанское изумляет букетом цветочных оттенков в сочетании с фруктовыми нотками яблока и груши, а также освежающим ароматом и вкусом цитрусов. Игра пузырьков, соломенно-янтарные искорки с глубоким цветом утренней зари и необыкновенная гармония оттенков — все это таится в каждой капле шампанского «Золотой стандарт».
        
      .products-list__slider.js-products-list-slider
        img.products-list__slide(src="img/products-list/block5/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block5/img1.jpg", alt="")
      
      .products-list__variations Вариации
      
      .products-list__pager.js-products-list-pager
        a.products-list__pager-link(href="", data-slide-index="0")
          img.products-list__pager-img(src="img/products-list/block5/img1-mini.jpg", alt="")
          .products-list__pager-text брют
          
        a.products-list__pager-link(href="", data-slide-index="1")
          img.products-list__pager-img(src="img/products-list/block5/img1-mini.jpg", alt="")
          .products-list__pager-text полусладкое

    .products-list__block.products-list__block--four
      .products-list__left
        .products-list__title Российское шампанское
        
        .products-list__info
          .products-list__bold Тип напитка:
          .products-list__text шампанское
        
          .products-list__ib
            .products-list__bold Укупорка:
            .products-list__text корка
            
            .products-list__bold Емкость:
            .products-list__text 0,75 / 1,5 / 3 / 6 л
            
          .products-list__ib
            .products-list__bold Алкоголь:
            .products-list__text 10,5 – 13,0 %
            
            .products-list__bold Кондиция:
            .products-list__text брют / полусухое / полусладкое / сладкое
            
      .products-list__right
        .products-list__description Описание:
        .products-list__right-block
          .products-list__description-text.
            Традиционная и хорошо знакомая марка, выпускаемая ОАО «МКШВ» уже долгие годы. Производится это шампанское из купажей качественных сортов винограда Алиготе, Совиньон и Шардоне. Метод производства доведен до совершенства, технология производства точно соответствует ГОСТу РФ. Обладает красивой и долгой игрой в бокале. Свежий гармоничный вкус оставит наилучшие впечатления…
        
      .products-list__slider.js-products-list-slider
        img.products-list__slide(src="img/products-list/block6/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block6/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block6/img1.jpg", alt="")
        img.products-list__slide(src="img/products-list/block6/img1.jpg", alt="")
      
      .products-list__variations Вариации
      
      .products-list__pager.js-products-list-pager
        a.products-list__pager-link(href="", data-slide-index="0")
          img.products-list__pager-img(src="img/products-list/block6/img1-mini.jpg", alt="")
          .products-list__pager-text брют
          
        a.products-list__pager-link(href="", data-slide-index="1")
          img.products-list__pager-img(src="img/products-list/block6/img1-mini.jpg", alt="")
          .products-list__pager-text полусухое
          
        a.products-list__pager-link(href="", data-slide-index="2")
          img.products-list__pager-img(src="img/products-list/block6/img1-mini.jpg", alt="")
          .products-list__pager-text полусладкое
          
        a.products-list__pager-link(href="", data-slide-index="3")
          img.products-list__pager-img(src="img/products-list/block6/img1-mini.jpg", alt="")
          .products-list__pager-text сладкое
