.about {
  &__title {
    font-family: $fserm;
    font-size: 36px;
    line-height: 39px;
    color: $yellowColor;
    margin-bottom: 35px;
  }
  &__block {
    @include clearfix;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 15px;

    a {
      color: $yellowColor;
      font-family: $fsbki;
      @include htd;

      &:visited {
        color: #7d756e;
      }
    }
  }
  ul, li {
    list-style: none;
  }

  ul {
    margin-bottom: 15px;
  }

  li {
    &:before {
      content: '';
      background: url(../img/bulet.png) 0 0 no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }
  }

  img {
    float: left;
    width: 308px;
    height: 208px;
    margin-right: 17px;
    margin-bottom: 35px;
    padding: 4px;
    background: url(../img/about/border.png) 0 0 no-repeat;
    clear: both;
    display: block;
  }

  &__images {
    clear: both;
    @include clearfix;
    margin-top: 25px;

    img {
      margin-bottom: 25px;
      clear: none;
    }
  }
  img.about__medal {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 19px;
    margin-bottom: 45px;
    background: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__links {
    margin-bottom: 35px;
    clear: both;
  }
  &__shared {
    margin-right: 10px;
  }
  &__link {
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
    @include htd;

    &:first-of-type {
      margin-left: 8px;
    }

    &.vk {
      color: #526e8f;
    }
    &.fb {
      color: #425497;
    }
    &.od {
      color: #e27e35;
    }
    &.go {
      color: #dd4241;
    }
    &.tw {
      color: #40c9f1;
    }

    img {
      width: auto;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      background: none;
      float: none;
      margin: 0;
      padding: 0;
      margin-right: 5px;
      margin-left: -4px;
      text-decoration: none;
    }
  }
}
